<div class={{if isHidingPostBoxReal 'hide'}}>
    <div class="row row-gutter-bottom">
        <div class="col-xs-12">
            {{input class="edit_box" placeholder="Add subject" value=title size="60"}}
        </div>
    </div>
    <div class="row row-gutter-bottom">
        <div class="col-xs-12">
            {{textarea class="edit_box" placeholder="Write message" rows="5" cols="61" value=description}}
        </div>
    </div>
    <div class="row row-gutter-bottom">
        <div class="col-xs-12">
            <button type="button" class="btn btn-cys" {{action "addPost" }}>Save</button>
            <button type="button" class="btn btn-link" {{action "hidePostBoxReal" }}>Cancel</button>
        </div>
    </div>
</div>
