<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            First Name:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" value=firstName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Last Name:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" value=lastName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Nickname:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" value=nickName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>

        </label>
    </div>
    <div class="col-xs-10">
        <div class="control-group">
            <div class="btn-group" data-toggle="buttons-radio">

                {{#view "radio-button-view" name="male" selectionBinding="gender" value="male" }}Male{{/view}}

                {{#view "radio-button-view" name="femail" selectionBinding="gender" value="female" }}Female{{/view}}

            </div>
        </div>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Birthday:
        </label>
    </div>
    <div class="col-xs-10">
        {{bs-datetimepicker date=birthdayMoment format='YYYY-MM-DD' width="200"}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Upload Image:
        </label>
    </div>
    <div class="col-xs-10">
        {{view 'file-upload-view' contentBinding="imageData"}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Family Role:
        </label>
    </div>
    <div class="col-xs-10">
        {{view "select" class="btn btn-default dropdown-toggle" content=allRelationships prompt="Relationship" value=type}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>

        </label>
    </div>
    <div class="col-xs-10">
        {{pronoun}} can speak: {{view "select" class="btn btn-default dropdown-toggle" selectionBinding="languages" content=allLanguages multiple=true}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-10 col-xs-offset-2">
        <button type="button" class="btn btn-primary btn-sm" {{action "save" }} {{bind-attr disabled=disabled}}>Save</button>
        <button type="button" class="btn btn-link btn-sm" {{action "cancel" }}>Cancel</button>
    </div>
</div>