<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>
            First Name:
        </label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.firstName}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>
            Last Name:
        </label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.lastName}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>
            Nickname:
        </label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.nickName}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>

        </label>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="control-group">
            <div class="btn-group" data-toggle="buttons-radio">

                {{#radio-button selectedValue=model.gender value="male" }}Male{{/radio-button}}

                {{#radio-button selectedValue=model.gender value="female" }}Female{{/radio-button}}

            </div>
        </div>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>
            Birthday:
        </label>
    </div>
    <div class="col-xs-12 col-md-2">
        {{bs-datetimepicker date=model.birthdayMoment format='YYYY-MM-DD' width="200"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>
            Upload Image:
        </label>
    </div>
    <div class="col-xs-12 col-md-4">
        {{file-upload content=model}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>
            Family Role:
        </label>
    </div>
    <div class="col-xs-12 col-md-4">
        {{view "select" class="btn btn-default dropdown-toggle" content=allRelationships prompt="Relationship" value=model.type}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>
            Languages
        </label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" selection=model.languages content=allLanguages multiple=true}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>City:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.city}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>State:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" prompt="Select State" content=allStates optionValuePath="content.value" optionLabelPath="content.text" value=model.state}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Zip Code:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.zipCode}}
    </div>
</div>
{{#if model.isAdmin}}
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-7">
        <hr>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Email</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.email}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Password:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.password}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Role:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.role}} admin, user, anonymous
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Is Confirmed:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input type="checkbox" checked=model.isConfirmedMember}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Is In Signup Process:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input type="checkbox" checked=model.isInSignUpProcess}}
    </div>
</div>
{{/if}}
<div class="row row-gutter-bottom">
    <div class="col-md-offset-2">
        <button type="button" class="btn btn-cys" {{action "save" }} {{bind-attr disabled=disabled}}>Save</button>
        <button type="button" class="btn btn-link" {{action "cancel" }}>Cancel</button>
    </div>
</div>