<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>
            First Name:
        </label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.firstName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>
            Last Name:
        </label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.lastName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>
            Nickname:
        </label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.nickName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>

        </label>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="control-group">
            <div class="btn-group" data-toggle="buttons-radio">

                {{#view "radio-button-view" name="male" selection=model.gender value="male" }}Male{{/view}}

                {{#view "radio-button-view" name="female" selection=model.gender value="female" }}Female{{/view}}

            </div>
        </div>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>
            Birthday:
        </label>
    </div>
    <div class="col-xs-12 col-md-2">
        {{bs-datetimepicker date=model.birthdayMoment format='YYYY-MM-DD' width="200"}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>
            Upload Image:
        </label>
    </div>
    <div class="col-xs-12 col-md-4">
        {{view 'file-upload-view' content=model.imageData}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>
            Family Role:
        </label>
    </div>
    <div class="col-xs-12 col-md-4">
        {{view "select" class="btn btn-default dropdown-toggle" content=allRelationships prompt="Relationship" value=model.type}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>
            Languages
        </label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" selection=model.languages content=allLanguages multiple=true}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>City:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.city}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>State:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" prompt="Select State" content=allStates optionValuePath="content.value" optionLabelPath="content.text" value=model.state}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12 col-md-2">
        <label>Zip Code:</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{input class="edit_box" value=model.zipCode}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-md-offset-2">
        <button type="button" class="btn btn-primary btn-sm" {{action "save" }} {{bind-attr disabled=disabled}}>Save</button>
        <button type="button" class="btn btn-link btn-sm" {{action "cancel" }}>Cancel</button>
    </div>
</div>