<div class="container">
<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
  <h2>Change Password</h2>
  <h3>Hi, {{model.firstName}}</h3>

  <form {{action "resetPassword" on="submit"}}>
    <h4>Please enter your new password below:</h4>
      <br>
        {{input-form label='Reset Password' value=model.newPassword type='password' placeholder='New Password' required='true'}}

      {{#if model.newPassword}}
        {{input-form label='Confirm Password' value=model.confirmPassword type="password" placeholder='Re-enter Password' required='true'}}
         <button {{action "resetPassword" model}} class="btn btn-cys">Submit</button>
        {{else}}
        <span class="required">*</span>Empty password not allowed.
      {{/if}}
  </form>
 </div>
</div>

