<div class="row row-gutter-bottom">
    <div class="col-xs-offset-2 col-xs-10">
        <h1>Add Member</h1>
    </div>
</div>
<div {{bind-attr class=":row :row-gutter-bottom showAlert::collapse" }}>
    <div class="col-xs-12">
        {{alert-bar title=alertTitle message=alertMessage type=alertType closeAlert="closeAlert" }}
    </div>
</div>
{{partial "member/flavors-form"}}
<div class="row row-gutter-bottom">
    <div class="col-md-offset-2">
        <button type="button" class="btn btn-cys" {{action "save" }} {{bind-attr disabled=disabled}}>Save</button>
        <button type="button" class="btn btn-link" {{action "skip" }}>Skip</button>
    </div>
</div>
