<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        <label><span class="required">*</span>Zip Code:</label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="5" maxlength="5" value=model.zipCode}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        <label>Family Name:</label>
</div>
    <div class="col-xs-10">
        {{input class="edit_box" value=model.familyName placeholder="e.g. Smith's famly"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        <label>Description:</label>
</div>
    <div class="col-xs-10">
        {{textarea class="edit_box" rows="5" cols="60" value=model.description placeholder="Briefly describe your family so others can know more about your family"}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-xs-offset-2">
        <button type="button" class="btn btn-cys" {{action "save" }} {{bind-attr disabled=disabled}}>Save</button>
        <button type="button" class="btn btn-link" {{action "cancel" }}>Cancel</button>
    </div>
</div>