<h2>Connect with other parents in your neighborhood</h2>

<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Age</label>
    </div>
    <div class="col-xs-10 col-md-6">
        From
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="fromAge" selectionBinding="fromAge" content=allAgesYoung placeholder="Age"}} 
        To
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="toAge" selectionBinding="toAge" content=allAgesYoung}} years old.
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Within</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding=distance content=allDistances placeholder="Distance"}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Favorite Toys</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="toys" content=allToys placeholder="toy" multiple=true}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Languages</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="languages" content=allLanguages placeholder="Language" multiple=true}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Special needs</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="needs" content=allNeeds placeholder="need" multiple=true}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-3 col-xs-offset-2 col-md-offset-1">
        <div class="input-group">
            <button type="button" class="btn btn-primary btn-sm" {{action "searchfamilies" }}>Search</button>
        </div>
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        You are searching families which have children from age {{fromAge}} to {{toAge}} in your neighborhood.
    </div>
</div>

{{#each family in families}}
<div class="row row-xs-height">
    <div class="col-xs-12">
        {{family-list model=family apiEditFamily="goToEditFamily" apiDeleteFamily="deleteFamily" apiAddMember="goToAddMember" apiEditMember="goToEditMember" apiDeleteMember="deleteMember" apiCancel="cancelUserCreation"}}
    </div>
</div>
{{/each}}



