<h1>Connect with other parents!</h1>

<div class="row row-xs-height">
    <div class="col-xs-12">
        <p class="lead">
            I am looking for families which have children:
        </p>
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12 col-sm-3 col-md-2">
        Age from
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="fromAge" selectionBinding="fromAge" content=ages placeholder="Age"}} to
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="toAge" selectionBinding="toAge" content=ages}} years old.
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2">
        Within the distance of {{view "select" class="btn btn-default dropdown-toggle" valueBinding="distance" content=distances placeholder="Distance"}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12 col-sm-3 col-md-2">
        The children likes to play
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="toys" content=allToys placeholder="toy" multiple=true}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12 col-sm-3 col-md-3">
        The children can speak
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="languages" content=allLanguages placeholder="Language" multiple=true}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12 col-sm-3 col-md-2">
        Special need
        {{view "select" class="btn btn-default dropdown-toggle" valueBinding="needs" content=allNeeds placeholder="need" multiple=true}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        <div class="input-group">
            <button type="button" class="btn btn-primary btn-sm" {{action "searchfamilies" }}>Search</button>
        </div>
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        You are searching families which have children from age {{fromAge}} to {{toAge}} in your neighborhood.
    </div>
</div>

{{#each family in families}}
<div class="row row-xs-height">
    <div class="col-xs-12">
        {{family-list model=family apiEditFamily="goToEditFamily" apiDeleteFamily="deleteFamily" apiAddMember="goToAddMember" apiEditMember="goToEditMember" apiDeleteMember="deleteMember" apiCancel="cancelUserCreation"}}
    </div>
</div>
{{/each}}



