<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <h2>Connect with other parents in your neighborhood</h2>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Age</label>
    </div>
    <div class="col-xs-12 col-md-6">
        From
        {{view "select" class="btn btn-default dropdown-toggle" value=fromAge selection=fromAge content=allAgesYoung placeholder="Age"}}
        To
        {{view "select" class="btn btn-default dropdown-toggle" value=toAge selection=toAge content=allAgesYoung}} years old.
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Within</label>
    </div>
    <div class="col-xs-12 col-md-2">
        {{view "select" class="btn btn-default dropdown-toggle" value=distance content=allDistances placeholder="Distance"}}
    </div>
    <div class="col-xs-12 col-md-2">
        <button class="btn btn-link btn-sm" {{action "toggleAdvancedSearch" }}>Advanced Search</button>
    </div>
</div>

{{#if showAdvancedSearch}}
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Favorite Toys</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" value=toys content=allToys placeholder="toy" multiple=true}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Languages</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" value=languages content=allLanguages placeholder="Language" multiple=true}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>Special Needs</label>
    </div>
    <div class="col-xs-12 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" value=needs content=allNeeds placeholder="need" multiple=true}}
    </div>
</div>
{{/if}}

<div class="row row-gutter-bottom">
    <div class="col-md-offset-2">
        <div class="input-group">
            <button type="button" class="btn btn-cys" {{action "search" }}>Search</button>
        </div>
    </div>
</div>

{{#if showData}}
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{#if families.length }}
            {{#each families as |family|}}
                {{family-list model=family apiEditFamily="goToEditFamily" apiDeleteFamily="deleteFamily" apiAddMember="goToAddMember" apiEditMember="goToEditMember" apiDeleteMember="deleteMember" apiCancel="cancelUserCreation"}}
            {{/each}}
        {{else}}
            There is no family found.
        {{/if}}
    </div>
</div>
{{/if}}



