<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label><span class="required">*</span>Title:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="10 words or less" value=title}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label><span class="required">*</span>Description:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{textarea class="form-control" placeholder="Description" rows="5" cols="60" value=description}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>
            Upload Image:
        </label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view 'file-upload-view' content=imageData}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>By:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        <div class="control-group">
            {{input type="checkbox" checked=isForSale}} Sale

            {{input type="checkbox" checked=isForSwap}} Swap

            {{input type="checkbox" checked=isForGiveAway}} Give Away

            {{input type="checkbox" checked=isForLoan}} Loan
        </div>
    </div>
</div>
{{#if isForSale}}
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Price:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        <div class="input-group">
            <div class="input-group-addon">$</div>
            {{input class="form-control" placeholder="Price in US dollar" value=price size="40"}}
            <div class="input-group-addon">.00</div>
        </div>
    </div>
</div>
{{/if}}
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Condition:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        <div class="control-group">
            <div class="btn-group" data-toggle="buttons-radio">

                {{#view "radio-button-view" name="new" selection=condition group="condition" value="new"}}New{{/view}}

                {{#view "radio-button-view" name="used" selection=condition group="condition" value="used"}}Used{{/view}}


            </div>
        </div>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Age:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        From {{view "select" class="btn btn-default dropdown-toggle" value=fromAge content=allAges placeholder="Age"}}
        To {{view "select" class="btn btn-default dropdown-toggle" value=toAge content=allAges}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Type:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        <div class="control-group">
            <div class="btn-group" data-toggle="buttons-radio">

                {{#view "radio-button-view" name="toy" selection=type group="type" value="toy" }}Toy{{/view}}

                {{#view "radio-button-view" name="cloth" selection=type group="type" value="cloth" }}Cloth{{/view}}

                {{#view "radio-button-view" name="book" selection=type group="type" value="book"}}Book{{/view}}

                {{#view "radio-button-view" name="equipment" selection=type group="type" value="equipment" }}Equipment{{/view}}

                {{#view "radio-button-view" name="furniture" selection=type group="type" value="furniture" }}Furniture{{/view}}

                {{#view "radio-button-view" name="misc" selection=type group="type" value="misc" }}Misc{{/view}}

            </div>
        </div>
    </div>
</div>
{{#if isCloth }}
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Size:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="Size" value=size}}
    </div>
</div>
{{/if}}
{{#if isFurniture }}
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Width:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="Width" value=width}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Length:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="Length" value=length}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Height:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="Height" value=height}}
    </div>
</div>
{{/if}}
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>City:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="edit_box" value=city}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>State:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" prompt="Select State" content=allStates optionValuePath="content.value" optionLabelPath="content.text" value=state}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Zip Code:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="edit_box" value=zipCode}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-1">
        <button type="button" class="btn btn-primary btn-sm" {{action "save" }} {{bind-attr disabled=disabled}}>Save</button>
        <button type="button" class="btn btn-link btn-sm" {{action "cancel" }}>Cancel</button>
    </div>
</div>