<div class="row row-xs-height">
    <div class="col-xs-12">
        {{filter-selector model=allTypes apiFilterSelected="loadByType" showMisc="1"}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12 col-md-4">
        {{filter-selector model=allStatus apiFilterSelected="loadByStatus"}}
    </div>
    <div class="col-xs-3 col-md-2">
        <button class="btn btn-link btn-sm" {{action "toggleAdvancedSearch" }}>{{searchToggleText}}</button>
    </div>
</div>

{{#if showAdvancedSearch}}
<div class="row row-xs-height">
    <div class="col-xs-12">
        {{filter-selector model=allConditions apiFilterSelected="loadByCondition"}}
    </div>
</div>
{{/if}}

<div class="row row-xs-height">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <th></th>
            <th>Title</th>
            <th>Type</th>
            <th>Price</th>
            <th>Posted Date</th>
            <th>Age Range</th>
            </thead>
            <tbody>
                {{#each item in model}}
                <tr>
                    <td>{{view "previewImage" width="60" height="60" src=item.availableImage}}</td>
                    <td>{{item.title}}</td>
                    <td>{{display-text item.type allTypes}}</td>
                    <td>{{item.price}}</td>
                    <td>{{formatted-date item.createdDate 'LL'}}</td>
                    <td>{{item.ageRange}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            {{#link-to 'item.show' item class="btn btn-default"}}Detail{{/link-to}}
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


