<h2>Search for items that you are looking fors</h2>

<div class="row row-xs-height">
    <div class="col-xs-4">
        <label>
            Search for:
            {{input class="form-control" placeholder="e.g Toys" value=queryText}}
        </label>
    </div>
    <div class="col-xs-4">
        Within the distance of {{view "select" class="btn btn-default dropdown-toggle" valueBinding=distance content=distances placeholder="Distance"}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        <div class="input-group">
            <button type="button" class="btn btn-primary btn-sm" {{action "search" }}>Search</button>
        </div>
    </div>
</div>

{{#if showResult }}
<div class="row row-xs-height">
    <div class="col-xs-12">
        {{#if model.length}}
        <table class="table">
            <thead>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Posted Date</th>
            <th>Age Range</th>
            </thead>
            <tbody>
                {{#each item in model}}
                <tr>
                    <td>{{view "previewImage" width="60" height="60" srcBinding="item.availableImage"}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.price}}</td>
                    <td>{{formatted-date item.createdDate 'LL'}}</td>
                    <td>{{item.ageRange}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            {{#link-to 'item.show' item class="btn btn-default"}}Detail{{/link-to}}
                            <button type="button" class="btn btn-default" {{action 'openDeleteDialog' item.id target="view" bubbles="false" }}>Delete</button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
            There is no data
        {{/if}}
    </div>
</div>
{{/if}}