<h2>Search for items that you are looking for</h2>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Search</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="e.g Toys" value=queryText}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Within</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" value=distance content=allDistances placeholder="Distance"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-1">
        <button type="button" class="btn btn-primary btn-sm" {{action "search" }} {{bind-attr disabled=disabled}}>Search</button>
    </div>
</div>

{{#if showData }}
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{#if hasData }}
        <table class="table">
            <thead>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Posted Date</th>
            <th>Age Range</th>
            </thead>
            <tbody>
                {{#each item in model}}
                <tr>
                    <td>{{view "previewImage" width="60" height="60" src=item.availableImage}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.price}}</td>
                    <td>{{formatted-date item.createdDate 'LL'}}</td>
                    <td>{{item.ageRange}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            {{#link-to 'item.show' item class="btn btn-default"}}Detail{{/link-to}}
                            <button type="button" class="btn btn-default" {{action 'openDeleteDialog' item.id target="view" bubbles="false" }}>Delete</button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        There is no listing found.
        {{/if}}
    </div>
</div>
{{/if}}
