<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-6">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>
                <button class="btn-link" {{action "goBack"}}>Listing</button>
            </li>
            <li class="active">Detail</li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-6">
      {{#if showEdit}}
        {{#link-to 'item.edit' model.id class="btn btn-default"}}Edit{{/link-to}}
      {{/if}}
    </div>
</div>

{{#if session.secure.user.isAdmin }}
    <div class="row row-gutter-bottom">
        <div class="col-xs-10 col-md-6">
            <div class="btn-group" role="group" aria-label="...">
                {{#link-to 'item.edit' model.id class="btn btn-default"}}Detail{{/link-to}}
                <button type="button" class="btn btn-default" {{action 'deleteByAdmin' model.id }}>Delete</button>
            </div>
        </div>
    </div>
{{/if}}

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <img {{bind-attr src=model.availableImage}} width="300" height="300" class="img-responsive img-rounded"
                                                    style="margin-bottom:-15px; margin-top:-15px" alt="item"/>
    </div>
    <div class="col-xs-12 col-md-10">
        <div class="row row-gutter-bottom">
            <div class="col-xs-2 col-md-1">

            </div>
            <div class="col-xs-10 col-md-6">
                <h1>{{model.title}}</h1>
            </div>
        </div>
        <div class="row row-gutter-bottom">
            <div class="col-xs-2 col-md-1">

            </div>
            <div class="col-xs-10 col-md-6">
                by {{#link-to 'member.show' model.creator}} {{model.creator.displayName}} {{/link-to}}
                ({{#link-to 'inbox.new' (query-params toId=model.creator.id)}}Send message to owner{{/link-to}})
            </div>
        </div>
        <div class="row row-gutter-bottom">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>

        {{#if model.price}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Price:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                    {{model.price}}
                </div>
            </div>
        {{/if}}

        {{#if model.description}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Description:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{{model.description}}}
                </div>
            </div>
        {{/if}}

        {{#if model.transactionType}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Transaction:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{model.transactionType}}
                </div>
            </div>
        {{/if}}

        {{#if model.status}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Status:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{model.status}}
                </div>
            </div>
        {{/if}}

        {{#if model.type}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Type:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{display-text model.type allTypes}}
                </div>
            </div>
        {{/if}}

        {{#if model.condition}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Condition:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{model.condition}}
                </div>
            </div>
        {{/if}}

        {{#if model.size}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Size:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{model.size}}
                </div>
            </div>
        {{/if}}

        {{#if model.fromAge}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Age:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    From {{model.fromAge}} to {{model.toAge}}
                </div>
            </div>
        {{/if}}

        {{#if model.width}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Width:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{model.width}}
                </div>
            </div>
        {{/if}}

        {{#if model.length}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Length:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{model.length}}
                </div>
            </div>
        {{/if}}

        {{#if model.height}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Height:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{model.height}}
                </div>
            </div>
        {{/if}}

    </div>
</div>
