<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <label>
            Question:
        </label>
      {{input class="edit_box" size="100" value=model.title}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <label>
            Description:
        </label>
      {{textarea cols="60" rows="5"  class="form-control" value=model.description}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <label>Post Date:</label>
        {{formatted-date model.createdDate 'LL'}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <button type="button" class="btn btn-cys btn-sm" {{action "save" }} {{bind-attr disabled=disabled}}>Save</button>
        {{link-to 'Cancel' 'questions.my' class="btn btn-default"}}
    </div>
</div>



