<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <h2>My Questions</h2>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="all"}}
            All
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="active"}}
            Active
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="inactive"}}
            Inactive
        {{/single-select}}

    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{#single-select group="status" btnClassName="btn-cys-secondary" selectedValue=status value="all"}}
            All
        {{/single-select}}

        {{#single-select group="status" btnClassName="btn-cys-secondary" selectedValue=status value="answered"}}
            Answered
        {{/single-select}}

    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <th>Question</th>
            <th>Asked Date</th>
            <th>Answers</th>
            <th>Status</th>
            </thead>
            <tbody>
                {{#each question in model}}
                <tr>
                    <td>{{question.title}}</td>
                    <td>{{formatted-date question.createdDate 'LL'}}</td>
                    <td>{{question.answers.length}}</td>
                    <td>{{question.status}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            {{#link-to 'questions.show' question class="btn btn-default"}}Detail{{/link-to}}
                            <button type="button" class="btn btn-default" {{action 'openDeleteDialog' question.id target="view" bubbles="false" }}>Delete</button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div id="dialog-confirm-delete" title="Delete an activity?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This question will be deleted. Are you sure?</p>
</div>

