<div class="row row-gutter-bottom">
    <div class="col-lg-6">
        <p>
            <h2>You can ask specific questions such as:</h2>
            <br />
            Which child care center has the best facility in town?
            <br />
            Who has used baby tub?
            <br />
            I plan to buy a local museum membership, is it worth it?
            <br />
            Any recommendation on local pediatricians or piano tutor?
        </p>
        <p>
            Some questions are best answered by local parents.  Thus we want this site to be hyper local.
        </p>
        <p>
            The reality is not every question gets answered, and it's even harder to get great answeres.
            We have the following tips that you can follow:
        </p>
        <p>
            <ul>
                <li>Be on topic</li>
                <li>Be specific</li>
                <li>Help others first - if you help others a lot,
                    the karmaic consequnce is your questions will be displayed at more prominent location by our software algorithm.
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <label for="lblQ">
            <span class="required">*</span>Type your question here:
        </label>
        {{input id="lblQ" class="form-control" value=model.title}}
    </div>
    <div class="col-xs-12">
        <label for="lblQDescription">
            (Optional) You can give more detail to clarify
        </label>
        {{textarea id="lblQDescription" cols="60" rows="5"  class="form-control" value=model.description}}
    </div>
</div>


<div class="row row-gutter-bottom">
    <div class="col-lg-12">
        <button class="btn btn-primary btn-sm" type="button" class="btn btn-default btn-lg" {{action "save" }} {{bind-attr disabled=disabled}}>Ask My Neighbor</button>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-lg-12">
        {{#if asked}}
        <p>
            You asked: {{model.title}}
        </p>
        <p>
            We've sent out your questions to parents who live in your neighborhood.  They will contact you via emails shortly.
        </p>
        <p>
            We'll also search the answers for you by finding the best information from the Internet.  Our search engine and knowledgebase is currently under construction.
        </p>
        <p>
            Meanwhile, you can browse other questions or help out other parents {{#link-to 'questions.browse'}}here{{/link-to}}
        </p>
        {{/if}}
    </div>
</div>
