<br>
<div class="container">
<div class="panel panel-default">
  <header class="panel-heading">
  <div class="col-xs-2">
     <label>Question Title: </label>
  </div>
    &nbsp;&nbsp;{{model.title}}
  </header>
  <div class="panel-body">
    <div>
    <span class="col-md-2">Description: </span>
      <p class="col-md-10">{{model.description}}</p>
    </div>
    <div>
    <span class="col-md-2">Create Date: </span>
      <p class="col-md-10">{{model.createdDate}}</p>
    </div>
    <div>
    <span class="col-md-2">Status:  </span>
      <p class="col-md-10"> {{model.status}}</p>
    </div>
  </div>
  <div class="panel-footer">
    {{link-to 'Go Back' 'questions.my' class="btn btn-default"}}
    {{link-to 'Edit' 'questions.edit' model.id class='btn btn-cys'}}
  </div>
 </div>
</div>
