<div class="container">
  <div class="row">
    <form class="navbar-form navbar-left">
      {{#link-to 'admin.index' class='btn btn-default'}}
        {{fa-icon "arrow-left"}}{{/link-to}}
    </form>

    <form class="navbar-form navbar-right">
      <div class="form-group">
         {{input-form value=model.email type='search' placeholder='Email Address'}}
      </div>
      <button class="btn btn-cys">{{fa-icon 'search'}}</button>
    </form>
  </div>
    <br>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Facebook ID</th>
            <th>Location</th>
            <th>Registration</th>
        </thead>
      <tbody>
        {{#each model as |member|}}
          <tr>
            <th>{{preview-image width="40" height="40" class="img-responsive img-thumbnail" src=member.availableImage}}</th>
            <td>{{#link-to 'admin.members.member' member}}{{member.fullName}}{{/link-to}}</td>
            <td>{{member.email}}</td>
            <td>{{member.password}}</td>
            <td>{{member.facebookId}}</td>
            <td>{{member.fullAddress}}</td>
            <td>{{formatted-date member.createdDate 'LL'}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


