<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{input value=model.email type='search' placeholder='Email Address'}}
        <button class="btn btn-cys">{{fa-icon 'search'}}</button>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Privilege</th>
                    <th>Facebook ID</th>
                    <th>Location</th>
                    <th>Action</th>
                </thead>
                <tbody>
                {{#each model as |member|}}
                    <tr>
                        <th>{{preview-image width="40" height="40" class="img-responsive img-thumbnail" src=member.availableImage}}</th>
                        <td>{{#link-to 'admin.members.edit' member}}{{member.fullName}}{{/link-to}}</td>
                        <td>{{member.email}}</td>
                        <td>{{display-text member.privilege allPrivileges}}</td>
                        <td>{{member.facebookId}}</td>
                        <td>{{member.fullAddress}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                {{#link-to 'admin.members.edit' member class="btn btn-default"}}{{fa-icon "pencil"}}{{/link-to}}
                                <button type="button" class="btn btn-default" {{action 'delete' member.id }}>{{fa-icon "trash"}}</button>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>



