<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <p class="lead">We are located in Ann Arbor, MI</p>
        <p>You can email us at <strong>info@siwimi.com</strong>.</p>
        <p>You can tell us any improvement we can make, or you can suggest features that you want.</p>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <label><span class="required">*</span>Email:
            {{input type="email" class="form-control" size="50" placeholder="Enter your email address" value=email}}
        </label>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{textarea class="edit_box" rows="10" cols="60" value=description placeholder="Please type your suggestions here!"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <button class="btn btn-cys" type="button" {{action "save" }} disabled={{disabled}}>Send</button>
        {{link-to 'Cancel' 'application' class="btn btn-link" }}
    </div>
</div>

