<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <button type="button" class="btn btn-sm btn-cys" {{action 'delete' }}>Delete this message</button>
        <button type="button" class="btn btn-cys" {{action 'reply' }}>Reply</button>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{model.subject}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <hr>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-6">
        <strong>{{model.from.displayName}}</strong> to <strong>{{model.to.displayName}}</strong>

    </div>
    <div class="col-xs-6">

    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{model.body}}
    </div>
</div>
