<div {{bind-attr class=":row :row-xs-height showAlert::collapse" }}>
    <div class="col-xs-12">
        {{alert-bar title=alertTitle message=alertMessage type=alertType closeAlert="closeAlert" }}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            To:
        </label>
    </div>
    <div class="col-xs-10">
        {{#ic-autocomplete id="movies" value=toId on-input="setMemberSearch" placeholder="Type a name"}}
            {{#if isLoading}}
                <div style="padding: 2px 16px;">Searching members...</div>
            {{else}}
                {{#each members}}
                    {{#ic-autocomplete-option label=fullName value=id class="image-block"}}
                        <div class="image-block-content">
                            {{fullName}}
                        </div>
                    {{/ic-autocomplete-option}}
                {{else}}
                    <div style="padding: 2px 16px;">No results found</div>
                {{/each}}
            {{/if}}
        {{/ic-autocomplete}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Subject:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" value=model.subject placeholder="Enter a subject"}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Body:
        </label>
    </div>
    <div class="col-xs-10">
        {{textarea class="edit_box" rows="5" cols="60" value=model.body placeholder="Type your message"}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-10 col-xs-offset-2">
        <button class="btn btn-primary btn-sm" {{action "sendMessage" }} {{bind-attr disabled=disabled}}>
            Send Message
        </button>
        {{#link-to 'inbox.browse' class="btn btn-link navbar-btn"}}Cancel{{/link-to}}
    </div>
</div>