<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h2>New Message</h2>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        <label>
            From:
        </label>
    </div>
    <div class="col-xs-10">
      {{session.user.displayName}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        <label>
            To:
        </label>
    </div>
    <div class="col-xs-10">
      {{view "select" value=selectedToId content=model.members optionValuePath="content.id" optionLabelPath="content.displayName" prompt="Please select a recipient"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        <label>
            Subject:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="60" value=model.message.subject placeholder="Enter a subject"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        <label>
            Body:
        </label>
    </div>
    <div class="col-xs-10">
        {{textarea class="edit_box" rows="5" cols="60" value=model.message.body placeholder="Type your message"}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-10 col-xs-offset-2">
        <button class="btn btn-cys" {{action "save" }} {{bind-attr disabled=disabled}}>
            Send Message
        </button>
        <button type="button" class="btn btn-link" {{action "cancel" }}>Cancel</button>
    </div>
</div>