<div {{bind-attr class=":row :row-xs-height showAlert::collapse" }}>
    <div class="col-xs-12">
        {{alert-bar title=alertTitle message=alertMessage type=alertType closeAlert="closeAlert" }}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-10 col-xs-offset-2">
        <button class="btn btn-primary btn-sm" {{action "importFromFacebook" }} {{bind-attr disabled=disabledImportFacebook}}>
            Import my profile from facebook
        </button>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            User Id:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=id}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Facebook Id:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=model.facebookId}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Email:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=email}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            City:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=city}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            State:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=state}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Zip Code:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=zipCode}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Change Passwords:
        </label>
    </div>
    <div class="col-xs-10">
        
    </div>
</div>
<div {{bind-attr class=":row :row-xs-height hasOldPassword::collapse" }}>
    <div class="col-xs-2">
        <label>
            Old Password:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" type="password" size="40" value=oldPassword}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            New Password:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" type="password" size="40" value=newPassword}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Confirm New Password:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" type="password" size="40" value=newPassword2}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-10 col-xs-offset-2">
        <button class="btn btn-primary btn-sm" {{action "save" }}>
            Save
        </button>
        <button class="btn btn-link btn-sm" {{action "cancel" }}>
            Cancel
        </button>
    </div>
</div>