<div {{bind-attr class=":row :row-xs-height showAlert::collapse" }}>
    <div class="col-xs-12">
        {{alert-bar title=alertTitle message=alertMessage type=alertType closeAlert="closeAlert" }}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-10 col-xs-offset-2">
        <button class="btn btn-primary btn-sm" {{action "importFromFacebook" }} {{bind-attr disabled=disabledImportFacebook}}>
            Import my profile from facebook
        </button>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            First Name:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=firstName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Last Name:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=lastName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Nickname:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=nickName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Gender:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=gender}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Hometown:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=fhometown}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        <label>
            Current Location:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=flocation}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        <label>
            Education
        </label>
    </div>
    <div class="col-xs-2">
        <label>
            High School:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=highSchool}}
    </div>
    <div class="col-xs-2">
        <label>
            College:
        </label>
    </div>
    <div class="col-xs-10">
        {{input class="edit_box" size="40" value=college}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-10 col-xs-offset-2">
        <button class="btn btn-primary btn-sm" {{action "save" }}>
            Save
        </button>
        <button class="btn btn-link btn-sm" {{action "cancel" }}>
            Cancel
        </button>
    </div>
</div>