<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label><span class="required">*</span>Title:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="10 words or less" value=model.title size="80"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>
            <span class="required">*</span>Description:
        </label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{textarea class="form-control" placeholder="Description" rows="5" cols="60" value=model.description}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Type</label>
    </div>
    <div class="col-xs-10">
        <div class="control-group">
            <div class="btn-group" data-toggle="buttons-radio">

                {{#view "radio-button-view" group="type" selectedValue=model.type value="deal" }}Deal{{/view}}

                {{#view "radio-button-view" group="type" selectedValue=model.type value="education" }}Education{{/view}}

                {{#view "radio-button-view" group="type" selectedValue=model.type value="entertainment" }}Entertainment{{/view}}

                {{#view "radio-button-view" group="type" selectedValue=model.type value="health"}}Health{{/view}}

                {{#view "radio-button-view" group="type" selectedValue=model.type value="travel" }}Travel{{/view}}

                {{#view "radio-button-view" group="type" selectedValue=model.type value="misc" }}Misc{{/view}}

            </div>
        </div>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>
            Upload Image:
        </label>
    </div>
    <div class="col-xs-10 col-md-11">
        {{view 'file-upload-view' content=model.imageData}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>
            Expired:
        </label>
    </div>
    <div class="col-xs-2">
        {{bs-datetimepicker date=model.expiredDateMoment format='YYYY-MM-DD'}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>
            Url:
        </label>
    </div>
    <div class="col-xs-10 col-md-8">
        {{input class="form-control" placeholder="web url if there is any" value=model.url size="60"}}
        <button class="btn btn-primary btn-sm" type="button" {{action "preview" }}>
            Preview
        </button>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-xs-offset-2  col-md-offset-1">
        <div style="width:30px; height:20px">
            <iframe id="frame" {{bind-attr src=model.url}}></iframe>
        </div>
    </div>
    <div class="col-xs-4">
        {{textarea class="form-control" readonly="true" rows="4" cols="60" value=model.previewText}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>City:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="edit_box" value=model.city}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>State:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" prompt="Select State" content=allStates optionValuePath="content.value" optionLabelPath="content.text" value=model.state}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Zip Code:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="edit_box" value=model.zipCode}}
    </div>
</div>
<div class="clearfix visible-xs-block"></div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
    </div>
</div>
<div class="clearfix visible-xs-block"></div>
<div class="row row-gutter-bottom">
    <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-1">
        <button type="button" class="btn btn-primary btn-sm" {{action "save" }} {{bind-attr disabled=disabled}}>Save</button>
        <button type="button" class="btn btn-link btn-sm" {{action "cancel" }}>Cancel</button>
    </div>
</div>