<div class="row row-xs-height">
    <div class="col-xs-12">
        {{filter-selector model=allTypes apiFilterSelected="loadByType" showMisc="1"}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-lg-12">
        <div class="btn-toolbar" role="toolbar" aria-label="tiptoolbar">
            <div class="btn-group" data-toggle="buttons">
                <a class="btn btn-info active" data-toggle="tab" {{ action 'setStatusFilter' 'all' }}>
                    <input type="radio">All
                </a>
                <a class="btn btn-info" data-toggle="tab" {{ action 'setStatusFilter' 'active' }}>
                    <input type="radio">Active
                </a>
                <a class="btn btn-info" data-toggle="tab" {{ action 'setStatusFilter' 'expired' }}>
                    <input type="radio">Expired
                </a>
            </div>

        </div>

    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                <th>Action</th>
            </thead>
            <tbody>
                {{#each tip in model}}
                <tr>
                    <th>{{view "previewImage" width="80" height="80" class="img-responsive img-thumbnail" src=tip.availableImage}}</th>
                    <td>{{tip.titleReduced}}</td>
                    <td>{{tip.descriptionReduced}}</td>
                    <td>{{display-text tip.type allTypes}}</td>
                    <td>
                        {{#link-to 'tip.show' tip}}Detail{{/link-to}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
