<h1>Search tips</h1>
<div class="row row-xs-height">
    <div class="col-lg-12">
        <div class="btn-toolbar" role="toolbar" aria-label="tiptoolbar">
            <div class="btn-group" data-toggle="buttons">
                <a href="#prices" class="btn btn-info active" data-toggle="tab" {{ action 'setStatusFilter' 'popular' }}>
                    <input type="radio">Popular
                </a>
                <a href="#features" class="btn btn-info" data-toggle="tab" {{ action 'setStatusFilter' 'all' }}>
                    <input type="radio">All
                </a>
                <a href="#requests" class="btn btn-info" data-toggle="tab" {{ action 'setStatusFilter' 'expired' }}>
                    <input type="radio">Expired
                </a>
            </div>
            <div class="btn-group" data-toggle="buttons">
                <a href="#prices" class="btn btn-info active" data-toggle="tab" {{ action 'setTypeFilter' 'deal' }}>
                    <input type="radio">Deal
                </a>
                <a href="#features" class="btn btn-info" data-toggle="tab" {{ action 'setTypeFilter' 'education' }}>
                    <input type="radio">Education
                </a>
                <a href="#requests" class="btn btn-info" data-toggle="tab" {{ action 'setTypeFilter' 'health' }}>
                    <input type="radio">Health
                </a>
                <a href="#contact" class="btn btn-info" data-toggle="tab" {{ action 'setTypeFilter' 'entertainment' }}>
                    <input type="radio">Entertainment
                </a>
                <a href="#contact" class="btn btn-info" data-toggle="tab" {{ action 'setTypeFilter' 'misc' }}>
                    <input type="radio">Misc
                </a>
            </div>
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
            <th>Expired Date</th>
            <th>Action</th>
            </thead>
            <tbody>
                {{#each tip in model}}
                <tr>
                    <td>{{tip.titleReduced}}</td>
                    <td>{{tip.descriptionReduced}}</td>
                    <td><a {{bind-attr href=tip.url }} target="_blank">{{tip.urlReduced}}</a></td>
                    <td>{{tip.expiredDateShortDateString}}</td>
                    <td>
                        {{#link-to 'tip.show' tip}}Detail{{/link-to}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
