<h2>Search for tips</h2>
<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-2 col-md-1">
        <label>Search</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="travel" value=queryText}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-1">
        <button type="button" class="btn btn-cys" {{action "search" }} {{bind-attr disabled=disabled}}>Search</button>
    </div>
</div>

{{#if showData }}
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{#if hasData }}
            <table class="table">
                <thead>
                    <th></th>
                    <th>title</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Expired Date</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {{#each tip in model}}
                    <tr>
                        <th>{{preview-image width="80" height="80" class="img-responsive img-thumbnail" src=tip.availableImage}}</th>
                        <td>{{tip.titleReduced}}</td>
                        <td>{{tip.descriptionReduced}}</td>
                        <td>{{display-text tip.type allTypes}}</td>
                        <td>{{formatted-date tip.expiredDate 'LL'}}</td>
                        <td>
                            {{#link-to 'tip.show' tip}}Detail{{/link-to}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            There is no tip found.
        {{/if}}
    </div>
</div>
{{/if}}
