<div class="row row-xs-height">
    <div class="col-xs-2">
        {{#link-to 'tip.my'}}<< back to list{{/link-to}}
    </div>
    <div class="col-xs-2">
        {{#link-to 'tip.edit' id}}Edit{{/link-to}}
    </div>
    <div class="col-xs-4">
        <div class="fb-share-button" {{bind-attr data-href="tipUrl"}} data-layout="button_count"></div>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        <h3>{{ title }}</h3>
        <hr style="border-width:4px" />
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-1">
        <img class="avatar" {{bind-attr src=session.profilePicture}}>
        <a class="vote-up" {{action "voteUp" }} title="it's userful and clear'">test</a>
        <span class="vote-count-post">{{voteCount}}</span>
        <a class="vote-down" {{action "voteDown" }} title="it's userful and clear'">test</a>
        <a {{bind-attr class=isFavorite:star-on:star-off }} href="#" {{action "setFavorite" }} title="This is a favorite question (click again to undo)">favorite</a>
    </div>

    <div class="col-xs-11">
        <div class="row row-xs-height">
            <div class="col-xs-12">
                <strong>{{creator.displayName}}</strong>
            </div>
        </div>
        <div class="row row-xs-height">
            <div class="col-xs-12">
                <div style="min-height:100px">
                    {{description}}
                </div>
            </div>
        </div>
        <div class="row row-xs-height">
            <div class="col-xs-12 col-xs-2">
                    Url:
                    <a {{bind-attr src=url}} alt="original link"></a>
            </div>
            <div class="col-xs-12 col-xs-2">

                    Type: {{type}}

            </div>
            <div class="col-xs-12 col-xs-2">

                    Expired:
                    {{formatted-date expiredDate 'LL'}}

            </div>
        </div>
        {{#if previewText}}
        <div class="row row-xs-height">
            <div class="col-xs-12">
                <label>
                    {{view "previewImage" width="200" readonly="true" height="200" srcBinding="previewImage"}}
                </label>
                <label>
                    Preview Text:
                    {{previewText}}
                </label>
            </div>
        </div>
        {{/if}}
        <div class="row row-xs-height">
            <div class="col-xs-12">
                <div class="topic-map">
                    <ul>
                        <li>
                            <a href="#">
                                <h4>created</h4>
                                <img width="20" height="20" {{bind-attr src=session.profilePicture}} class="avatar" />
                                <span>{{formatted-date createdDate 'LL'}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4>last post</h4>
                            </a>
                        </li>
                        <li>
                            <span>{{controller.feedbacks.length}}</span>
                            <h4>posts</h4>
                        </li>
                        <li>
                            <span>{{viweCount}}</span>
                            <h4>views</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        <br /><br /><br /><br />
    </div>
</div>


{{#each fb in feedbacks}}
<div class="row row-xs-height">
    <div class="col-xs-12">
        <hr style="border-width:4px" />
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-1">
        <img class="avatar" {{bind-attr src=session.profilePicture}}>
        <a class="vote-up" {{action "voteUp" }} title="it's userful and clear'">test</a>
        <span class="vote-count-post">{{voteUp}}</span>
        <a class="vote-down" {{action "voteDown" }} title="it's userful and clear'">test</a>       
    </div>
    <div class="col-xs-11">
        <div class="row row-xs-height">
            <div class="col-xs-12">
                {{fb.description}}
            </div>
        </div>
        <div class="row row-xs-height">
            <div class="col-xs-12">
                <div class="topic-map">
                    <ul>
                        <li>
                            <a href="#">
                                <h4>Likes:</h4>
                                <span>{{fb.likeCount}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">By: {{fb.creator.displayName}} On {{fb.createdDateShortDateString}}.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-3 col-xs-offset-9">
       
    </div>
</div>
{{/each}}

<div class="row row-xs-height">
    <div class="col-xs-12">
        <label>
            Post your comments: <div class="dialog-mini"><span style="text-align: center; width:45px;">{{controller.feedbacks.length}}</span></div>

        </label>
        {{textarea class="form-control" placeholder="review" rows="5" cols="60" value=feedbackText}}
    </div>
    <div class="col-xs-12">
        <button class="btn btn-primary btn-sm" {{action "addNewFeedback" tip.id }}>Add Feedback</button>
    </div>
</div>
