<div class="row row-xs-height">
    <div class="col-xs-2">
        <button type="button" class="btn btn-link btn-sm" {{action "goBack" }}><< Back</button>
    </div>
    <div class="col-xs-2">
        {{#if showEdit}}
            {{#link-to 'tip.edit' id}}Edit{{/link-to}}
        {{/if}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        <div class="fb-share-button" {{bind-attr data-href="tipUrl" }} data-layout="button_count"></div>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        <h3>{{ title }}</h3>
        <hr style="border-width:4px" />
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-1">
        <img class="avatar" {{bind-attr src=creator.availableImage}}>
        <a class="vote-up" {{action "voteUp" }} title="it's userful and clear'">test</a>
        <span class="vote-count-post">{{voteCount}}</span>
        <a class="vote-down" {{action "voteDown" }} title="it's userful and clear'">test</a>
        <a {{bind-attr class=isFavorite:star-on:star-off }} href="#" {{action "setFavorite" }} title="This is a favorite question (click again to undo)">favorite</a>
    </div>

    <div class="col-xs-11">
        <div class="row row-xs-height">
            <div class="col-xs-12">
                by <strong>{{creator.displayName}}</strong>
            </div>
        </div>
        <div class="row row-xs-height">
            <div class="col-xs-2">
                <div style="min-height:100px">
                    {{view "previewImage" width="60" height="60" src=availableImage}}
                </div>
            </div>
            <div class="col-xs-10">
                <div style="min-height:100px">
                    {{description}}
                </div>
            </div>
        </div>
        <div class="row row-xs-height">
            <div class="col-xs-2">
                <label>Type:</label>
                {{display-text type allTypes}}
            </div>
            <div class="col-xs-2">
                <label>Location:</label>
                {{cityState}}
            </div>
            <div class="col-xs-3">
                <label>Expired:</label>
                {{formatted-date expiredDate 'LL'}}
            </div>
            <div class="col-xs-5">
                <label>Link:</label>
                <a {{bind-attr href=url}} target="_blank" alt="original link">{{shorten-string url 30}}</a>
            </div>
        </div>
        {{#if previewText}}
        <div class="row row-xs-height">
            <div class="col-xs-12">
                <label>
                    {{view "previewImage" width="200" readonly="true" height="200" src=previewImage}}
                </label>
                <label>
                    Preview Text:
                    {{previewText}}
                </label>
            </div>
        </div>
        {{/if}}
        <div class="row row-xs-height">
            <div class="col-xs-12">
                <div class="topic-map">
                    <ul>
                        <li>
                            <a href="#">
                                <h4>created</h4>
                                <img width="20" height="20" {{bind-attr src=creator.availableImage}} class="avatar" />
                                <span>{{formatted-date createdDate 'LL'}}</span>
                            </a>
                        </li>
                        <li>
                            <span>{{controller.feedbacks.length}}</span>
                            <h4>comments</h4>
                        </li>
                        <li>
                            <span>{{viewCount}}</span>
                            <h4>views</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{{#each fb in feedbacks}}
<div class="row row-xs-height">
    <div class="col-xs-12">
        <hr style="border-width:4px" />
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-1">
        <img class="avatar" {{bind-attr src=session.profilePicture}}>
        <a class="vote-up" {{action "voteUp" }} title="it's userful and clear'">test</a>
        <span class="vote-count-post">{{voteCount}}</span>
        <a class="vote-down" {{action "voteDown" }} title="it's userful and clear'">test</a>       
    </div>
    <div class="col-xs-11">
        <div class="row row-xs-height">
            <div class="col-xs-12">
                {{fb.description}}
            </div>
        </div>
        <div class="row row-xs-height">
            <div class="col-xs-12">
                <div class="topic-map">
                    <ul>
                        <li>
                            <span>{{fb.likeCount}}</span>
                            <h4>Likes</h4>
                        </li>
                        <li>
                            <a href="#">By: {{fb.creator.displayName}} On {{formatted-date fb.createdDate 'LL'}}.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-3 col-xs-offset-9">
       
    </div>
</div>
{{/each}}

<div class="row row-xs-height">
    <div class="col-xs-12">
        <label>
            Post your comments:
        </label>
        {{textarea class="form-control" placeholder="review" rows="5" cols="60" value=feedbackText}}
    </div>
    <div class="col-xs-12">
        <button class="btn btn-primary btn-sm" {{action "addNewFeedback" tip.id }}>Add Feedback</button>
    </div>
</div>
