<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-6">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>{{#link-to 'tip.browse'}}Tips{{/link-to}}</li>
            <li class="active">Detail</li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-6">
        {{#if showEdit}}
            {{#link-to 'tip.edit' model.tip class="btn btn-default"}}Edit{{/link-to}}
        {{/if}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h3>{{ model.tip.title }}</h3>
        <hr style="border-width:4px" />
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-1">
        {{#link-to 'tip.show' model.tip.creator}}
            <img class="avatar" src={{model.tip.creator.availableImage}} width="100" height="100" class="img-responsive img-rounded">
        {{/link-to}}

        <a class="vote-up" {{action "voteUp" }} title="it's userful and clear'">test</a>
        <span class="vote-count-post">{{model.tip.voteCount}}</span>
        <a class="vote-down" {{action "voteDown" }} title="it's userful and clear'">test</a>
        <a {{bind-attr class=isFavorite:star-on:star-off }} href="#" {{action "setFavorite" }} title="This is a favorite question (click again to undo)">favorite</a>
    </div>

    <div class="col-xs-11">
        <div class="row row-gutter-bottom">
            <div class="col-xs-12">
                by <strong>{{model.tip.creator.displayName}}</strong> on <span>{{formatted-date model.tip.createdDate 'LL'}}</span>
            </div>
        </div>
        <div class="row row-gutter-bottom">
            <div class="col-xs-2">
                <div style="min-height:100px">
                    {{view "previewImage" width="300" height="300" class="img-responsive img-thumbnail" src=model.tip.availableImage}}
                </div>
            </div>
            <div class="col-xs-10">
                <div style="min-height:100px">
                    {{model.tip.description}}
                </div>
                <div>
                    <label>Link:</label>
                    <a href={{model.tip.url}} target="_blank" alt="original link">{{shorten-string model.tip.url 30}}</a>
                </div>
            </div>
        </div>
        <div class="row row-gutter-bottom">
            <div class="col-sm-2">
                <label>Type:</label>
                {{display-text model.tip.type allTypes}}
            </div>
            <div class="col-sm-2">
                <label>Location:</label>
                {{model.tip.cityState}}
            </div>
            <div class="col-sm-2">
                <label>Expired:</label>
                {{formatted-date model.tip.expiredDate 'LL'}}
            </div>
            <div class="col-sm-2">
                <label>Comments:</label>
                {{model.feedback.length}}
            </div>
            <div class="col-sm-2">
                <label>Views:</label>
                {{model.tip.viewCount}}
            </div>
        </div>
    </div>
</div>


{{#each fb in model.feedback}}
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <hr style="border-width:4px" />
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-1">
        {{#link-to 'member.show' model.tip.creator}}
            <img class="avatar" src={{fb.creator.availableImage}}>
        {{/link-to}}
    </div>
    <div class="col-xs-11">
        <div class="row row-gutter-bottom">
            <div class="col-xs-12">
                {{fb.description}}
            </div>
        </div>
    </div>
</div>
{{/each}}

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <label>
            Post your comments:
        </label>
        {{textarea class="form-control" placeholder="review" rows="5" cols="60" value=newFeedbackText}}
    </div>
    <div class="col-xs-12">
        <button class="btn btn-primary btn-sm" {{action "addNewFeedback" model.tip.id }}>Add Feedback</button>
    </div>
</div>
