<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label><span class="required">*</span>Title:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="edit_box" placeholder="10 words or less" value=model.title size="60"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label><span class="required">*</span>Description:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{textarea class="edit_box" rows="5" cols="61" value=model.description}}
    </div>
</div>
{{!--
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label><span class="required">*</span>Description:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{ck-editor value=model.description}}
    </div>
</div>
--}}
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Web URL:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="edit_box" value=model.url size="60"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Date:</label>
    </div>
    <div class="col-xs-10 col-md-2">
        From:
        {{bs-datetimepicker date=model.fromDateMoment format='YYYY-MM-DD'}}
        To:
        {{bs-datetimepicker date=model.toDateMoment format='YYYY-MM-DD'}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Time:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" value=model.fromTime content=allTimes prompt="From Time" class="btn btn-default dropdown-toggle"}}
        &nbsp;
        {{view "select" value=model.toTime content=allTimes prompt="To Time" class="btn btn-default dropdown-toggle"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>
            Upload Image:
        </label>
    </div>
    <div class="col-xs-10 col-md-11">
        {{view 'file-upload-view' content=model.imageData}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Type:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" prompt="Select Type" content=allTypes optionValuePath="content.value" optionLabelPath="content.text" value=model.type}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Age:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        From {{view "select" class="btn btn-default dropdown-toggle" value=model.fromAge content=allAgesOld }}
        To {{view "select" class="btn btn-default dropdown-toggle" value=model.toAge content=allAgesOld}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Price:</label>
    </div>
    <div class="col-xs-4 col-md-3">
        <div class="input-group">
            <div class="input-group-addon">$</div>
            {{input class="form-control" placeholder="Price in US dollar" value=model.price size="40"}}
            <div class="input-group-addon">.00</div>
        </div>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Address:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="edit_box" value=model.address size="40"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>City:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="edit_box" value=model.city}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>State:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" prompt="Select State" content=allStates optionValuePath="content.value" optionLabelPath="content.text" value=model.state}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Zip Code:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="edit_box" value=model.zipCode}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-1">
        <button type="button" class="btn btn-cys" {{action "save" }} {{bind-attr disabled=disabled}}>Save</button>
        <button type="button" class="btn btn-link" {{action "cancel" }}>Cancel</button>
    </div>
</div>