<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-sm-9">
        <h1>Things To Do in Ann Arbor, MI</h1>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="btn-group" role="group" aria-label="...">
            {{!--#if session.isAuthenticated}}
                {{#link-to 'activity.my'}}My Events{{/link-to}} |
            {{/if--}}
            {{#link-to 'activity.submit'}}Submit Event{{/link-to}}
            {{!-- <button {{action 'changeView'}} class="btn btn-link">Change to {{#if isTabletView}}Desktop{{else}}Tablet{{/if}} View</button> --}}
        </div>

    </div>
</div>

<div class="row row-gutter-bottom">
        <div class="col-xs-12 col-sm-2">
            <label>
                Time:
            </label>
            {{view "select" value=period content=allPeriods class="btn btn-default dropdown-toggle" optionValuePath="content.value" optionLabelPath="content.text"}}
        </div>
        <div class="col-xs-12 col-sm-2">
            <label>
                Type:
            </label>
            {{view "select" value=type content=allTypes class="btn btn-default dropdown-toggle" optionValuePath="content.value" optionLabelPath="content.text"}}

        </div>

        <div class="col-xs-12 col-sm-2">
            <label>
                Distance:
            </label>
            {{view "select" value=distance content=allDistances class="btn btn-default dropdown-toggle" optionValuePath="content.value" optionLabelPath="content.text"}}
        </div>

        <div class="col-xs-12 col-sm-3">
            <label>
                Age Group:
            </label>
            {{view "select" value=ageGroup content=allAgeGroups class="btn btn-default dropdown-toggle" optionValuePath="content.value" optionLabelPath="content.text"}}

        </div>

        <div class="col-xs-12 col-sm-2">
            <label>
                {{input checked=isFree type="checkbox"}} Free Events
            </label>
        </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <label>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            {{input value=queryText placeholder="e.g Dancing Babies, Cherry Picking" size="100" enter="search" autofocus="autofocus"}}
        </label>
    </div>
</div>

<div class="row browse-main-list">
    <div class="col-xs-12">
        {{#if model}}
            {{#each model as |event|}}
                <div class="row event-list">
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        {{#link-to 'activity.show' event.id}}
                            <img width="200" height="200" class="img-thumbnail img-responsive" src={{event.availableImage}}
                                 onerror="this.src='/assets/images/placeholder-events.jpg';">
                        {{/link-to}}
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-cys">
                                <h4 class="list-group-item-heading">
                                    {{#link-to 'activity.show' event.id}}{{event.title}}{{/link-to}}
                                </h4>
                            </li>
                            <li class="list-group-item list-group-item-cys">
                                {{#if event.fromAge}}
                                    Age: {{event.fromAge}}
                                    {{#if event.toAge}}
                                        - {{event.toAge}}
                                    {{/if}}
                                {{/if}}
                            </li>
                            <li class="list-group-item list-group-item-cys">
                                {{shorten-string (string-text event.description) 200}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-cys">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                {{#if event.address}}
                                    {{event.address}},
                                {{/if}}
                                {{event.cityState}}
                            </li>
                            <li class="list-group-item list-group-item-cys">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
                                {{formatted-date event.fromDateMoment 'LL'}}

                                {{#if event.toDateMoment}}
                                    - {{formatted-date event.toDateMoment 'LL'}}
                                {{/if}}
                            </li>

                            <li class="list-group-item list-group-item-cys">

                                {{#if event.fromTime}}
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
                                    {{event.fromTime}}

                                    {{#if event.toTime}}
                                        - {{event.toTime}}
                                    {{/if}}
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        {{#if event.type}}
                            <div class="tag-default">
                                {{#link-to (query-params type=event.type) class='btn-link btn-cys-link'}}
                                    {{display-text event.type allTypes}}
                                {{/link-to}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p class="lead">There are no events found under the selection criteria.</p>
        {{/if}}
    </div>
</div>

{{#if model}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-12 col-md-10">
            <nav>
                <ul class="pagination">
                    <li class={{isLeftArrowDisabled}}>
                        <a {{action "loadPrevPage"}} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#each page in pages}}
                        <li class={{page.className}}><a {{action "loadByPageNumber" page.text}}>{{page.text}}</a></li>
                    {{/each}}
                    <li class={{isRightArrowDisabled}}>
                        <a {{action "loadNextPage"}} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-12 col-md-1">
            <nav>
                <div class="pagination">
                    {{view "select" class="btn-cys-inverse dropdown-toggle" content=allPageSizes value=decoratedPageSize}}
                </div>
            </nav>
        </div>
    </div>
{{/if}}