<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <h1>Things To Do in Ann Arbor, MI</h1>
    </div>
</div>
<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-2">
        <label>
            Type:
        </label>
        <select class="btn btn-default dropdown-toggle">
            {{#each categories as |category|}}
                <option value={{category}} selected={{eq-op type category}}>{{category}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-xs-12 col-md-3">
        <label>
            Age Group:
        </label>
        <select class="btn btn-default dropdown-toggle">
            {{#each ages as |ageChoice|}}
                <option value={{ageChoice}} selected={{eq-op selectedAge ageChoice}}>{{ageChoice}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-xs-12 col-md-2">
        <label>
            Status:
        </label>
        <select class="btn btn-default dropdown-toggle">
            {{#each statuses as |statusChoice|}}
                <option value={{statusChoice}} selected={{eq-op status statusChoice}}>{{statusChoice}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-xs-12 col-md-3">
            <label>
                {{input checked=isFree type="checkbox"}} Free Events
            </label>
    </div>
    <div class="col-xs-12 col-md-2">
        {{#if session.isAuthenticated}}
            {{#link-to 'activity.my'}}My Events{{/link-to}} |
        {{/if}}
        {{#link-to 'activity.search'}}Search{{/link-to}}
    </div>
</div>

<div class="row main-content">
    <div class="col-xs-12">
        <div class="list-group">
            {{#if model}}
                {{#each model as |event|}}
                    <div class="row event-list">
                        <div class="col-xs-4 col-md-1">
                            {{#if event.fromDate }}
                                {{#link-to 'activity.show' event.id class="unlink"}}
                                    <div class="date-box">
                                        <div style="text-align: center;">{{formatted-date event.fromDateMoment 'MMM'}}</div>
                                        <div style="text-align: center;">
                                            <strong>{{formatted-date event.fromDateMoment 'D'}}</strong></div>
                                        <div style="text-align: center;">{{formatted-date event.fromDateMoment 'ddd'}}</div>
                                    </div>
                                {{/link-to}}
                            {{/if}}
                        </div>
                        <div class="col-xs-8 col-md-2">
                            {{#link-to 'activity.show' event.id}}
                                {{preview-image width="200" height="200" class="img-thumbnail img-responsive" src=event.availableImage}}
                            {{/link-to}}
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <h4 class="list-group-item-heading">{{#link-to 'activity.show' event.id}}{{event.title}}{{/link-to}}</h4>

                            <p class="list-group-item-text">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                {{#if event.address}}
                                    {{event.address}},
                                {{/if}}
                                {{event.cityState}}
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <p class="list-group-item-text">
                                {{formatted-date event.fromDateMoment 'LL'}}

                                {{#if event.toDateMoment}}
                                    - {{formatted-date event.toDateMoment 'LL'}}
                                {{/if}}
                            </p>

                            <p class="list-group-item-text">
                                {{#if event.fromTime}}
                                    {{event.fromTime}}

                                    {{#if event.toTime}}
                                        to {{event.toTime}}
                                    {{/if}}
                                {{/if}}
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            {{#if event.type}}
                                <div class="tag-default">
                                    {{#link-to (query-params type=event.type) class='btn-link btn-cys-link'}}
                                        {{display-text event.type allTypes}}
                                    {{/link-to}}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p class="lead">There are no events found under the selection criteria.</p>
            {{/if}}
        </div>
    </div>
</div>

{{#if model}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-12 col-md-11">
            <nav>
                <ul class="pagination">
                    <li class={{isLeftArrowDisabled}}>
                        <a {{action "loadPrevPage"}} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#each page in pages}}
                        <li class={{page.className}}><a {{action "loadByPageNumber" page.text}}>{{page.text}}</a></li>
                    {{/each}}
                    <li class={{isRightArrowDisabled}}>
                        <a {{action "loadNextPage"}} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-12 col-md-1">
            <nav>
                <div class="pagination">
                    {{view "select" class="btn-cys-inverse dropdown-toggle" content=allPageSizes value=decoratedPageSize}}
                </div>
            </nav>
        </div>
    </div>
{{/if}}