<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="all"}}
            All
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="birthday"}}
            Birthdays
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="concert"}}
            Concerts
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="farm"}}
            Farm Activity
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="storytelling"}}
            Storytelling
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="movie"}}
            Movies
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="museum"}}
            Museums
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="playdate"}}
            Play Dates
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="festival"}}
            Festival
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="show"}}
            Shows
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="sport"}}
            Sports
        {{/single-select}}

        {{#single-select group="type" btnClassName="btn btn-cys" selectedValue=type value="misc"}}
            Misc
        {{/single-select}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-8">

        {{#single-select group="status" btnClassName="btn-cys-secondary" selectedValue=status value="all"}}
            All
        {{/single-select}}

        {{#single-select group="status" btnClassName="btn-cys-secondary" selectedValue=status value="current"}}
            Current
        {{/single-select}}

        {{#single-select group="status" btnClassName="btn-cys-secondary" selectedValue=status value="upcoming"}}
            Upcoming
        {{/single-select}}

        {{#single-select group="status" btnClassName="btn-cys-secondary" selectedValue=status value="past"}}
            Past
        {{/single-select}}

        {{#single-select group="status" btnClassName="btn-cys-secondary" selectedValue=status value="timeless"}}
            Timeless
        {{/single-select}}

    </div>
</div>

<div class="row main-content">
    <div class="col-xs-12">
        <div class="list-group">
            {{#if model}}
                {{#each event in model}}
                    <div class="row event-list">
                        <div class="col-xs-2 col-md-1">
                            {{#if event.fromDate }}
                                {{#link-to 'activity.show' event class="unlink"}}
                                    <div class="date-box">
                                        <div style="text-align: center;">{{formatted-date event.fromDateMoment 'MMM'}}</div>
                                        <div style="text-align: center;">
                                            <strong>{{formatted-date event.fromDateMoment 'D'}}</strong></div>
                                        <div style="text-align: center;">{{formatted-date event.fromDateMoment 'ddd'}}</div>
                                    </div>
                                {{/link-to}}
                            {{/if}}
                        </div>
                        <div class="col-xs-4 col-md-2">
                            {{#link-to 'activity.show' event}}
                                {{view "previewImage" width="200" height="200" class="img-thumbnail img-responsive" src=event.availableImage}}
                            {{/link-to}}
                        </div>
                        <div class="col-xs-8 col-md-4">
                            <h4 class="list-group-item-heading">{{#link-to 'activity.show' event}}{{event.title}}{{/link-to}}</h4>

                            <p class="list-group-item-text">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                {{#if event.address}}
                                    {{event.address}},
                                {{/if}}
                                {{event.cityState}}
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <p class="list-group-item-text">
                                {{formatted-date event.fromDateMoment 'LL'}}

                                {{#if event.toDateMoment}}
                                    - {{formatted-date event.toDateMoment 'LL'}}
                                {{/if}}
                            </p>

                            <p class="list-group-item-text">
                                {{#if event.fromTime}}
                                    {{event.fromTime}}

                                    {{#if event.toTime}}
                                        to {{event.toTime}}
                                    {{/if}}
                                {{/if}}
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-1">
                            {{#if event.type}}
                                <div class="tag-default">
                                    {{display-text event.type allTypes}}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p class="lead">There are no events found under the selection criteria.</p>
            {{/if}}
        </div>
    </div>
</div>

{{#if model}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-12 col-md-11">
            <nav>
                <ul class="pagination">
                    <li class={{isLeftArrowDisabled}}>
                        <a {{action "loadPrevPage"}} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#each page in pages}}
                        <li class={{page.className}}><a {{action "loadByPageNumber" page.text}}>{{page.text}}</a></li>
                    {{/each}}
                    <li class={{isRightArrowDisabled}}>
                        <a {{action "loadNextPage"}} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-12 col-md-1">
            <nav>
                <div class="pagination">
                    {{view "select" class="btn-cys-inverse dropdown-toggle" content=allPageSizes value=decoratedPageSize}}
                </div>
            </nav>
        </div>
    </div>
{{/if}}