<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <a class="btn btn-default" {{action 'loadByType' 'all'}}>All</a>
        <a class="btn btn-default" {{action 'loadByType' 'birthday'}}>Birthdays</a>
        <a class="btn btn-default" {{action 'loadByType' 'concert'}}>Concerts</a>
        <a class="btn btn-default" {{action 'loadByType' 'farm'}}>Farm Activity</a>
        <a class="btn btn-default" {{action 'loadByType' 'storytelling'}}>Storytelling</a>
        <a class="btn btn-default" {{action 'loadByType' 'movie'}}>Movies</a>
        <a class="btn btn-default" {{action 'loadByType' 'museum'}}>Museums</a>
        <a class="btn btn-default" {{action 'loadByType' 'playdate'}}>Play Dates</a>
        <a class="btn btn-default" {{action 'loadByType' 'festival'}}>Festival</a>
        <a class="btn btn-default" {{action 'loadByType' 'show'}}>Shows</a>
        <a class="btn btn-default" {{action 'loadByType' 'sport'}}>Sports</a>
        <a class="btn btn-default" {{action 'loadByType' 'misc'}}>Misc</a>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-8">
        <a class="btn btn-default-inverse" {{action 'loadByStatus' 'all'}}>All</a>
        <a class="btn btn-default-inverse" {{action 'loadByStatus' 'current'}}>Current</a>
        <a class="btn btn-default-inverse" {{action 'loadByStatus' 'upcoming'}}>Upcoming</a>
        <a class="btn btn-default-inverse" {{action 'loadByStatus' 'past'}}>Past</a>
        <a class="btn btn-default-inverse" {{action 'loadByStatus' 'timeless'}}>Timeless</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            {{#if model}}
                {{#each event in model}}
                    <div style="border-bottom:3px; border-color: #fff">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                {{#link-to 'activity.show' event class="unlink"}}
                                    <div class="date-box">
                                        <div style="text-align: center;">{{formatted-date event.fromDateMoment 'MMM'}}</div>
                                        <div style="text-align: center;"><strong>{{formatted-date event.fromDateMoment 'D'}}</strong></div>
                                        <div style="text-align: center;">{{formatted-date event.fromDateMoment 'ddd'}}</div>
                                    </div>
                                {{/link-to}}
                            </div>
                            <div class="col-xs-4 col-md-2">
                                {{#link-to 'activity.show' event}}
                                    {{view "previewImage" width="300" height="300" class="img-thumbnail" src=event.availableImage}}
                                {{/link-to}}
                            </div>
                            <div class="col-xs-8 col-md-4">
                                <h4 class="list-group-item-heading">{{#link-to 'activity.show' event}}{{event.title}}{{/link-to}}</h4>
                                <p class="list-group-item-text">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    {{#if event.address}}
                                        {{event.address}},
                                    {{/if}}
                                    {{event.cityState}}
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <p class="list-group-item-text">
                                    {{formatted-date event.fromDateMoment 'LL'}}

                                    {{#if event.toDateMoment}}
                                        - {{formatted-date event.toDateMoment 'LL'}}
                                    {{/if}}
                                </p>
                                <p class="list-group-item-text">
                                    {{#if event.fromTime}}
                                        {{event.fromTime}}

                                        {{#if event.toTime}}
                                            to {{event.toTime}}
                                        {{/if}}
                                    {{/if}}
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-1">
                                {{#if event.type}}
                                    <div class="tag-default">
                                        {{display-text event.type allTypes}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p class="lead">There is no event found under the selection criteria.</p>
            {{/if}}
        </div>
    </div>
</div>

{{#if queryCount}}
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-11">
        <nav>
            <ul class="pagination">
                <li class={{disabled}}>
                    <a class="btn" {{action "loadPrevPage"}} aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{#each page in pages}}
                    <li><a class="btn" {{action "loadPage" page}}>{{page}}</a></li>
                {{/each}}
                <li class={{disabled}}>
                    <a class="btn" {{action "loadNextPage"}} aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-12 col-md-1">
        Show
        {{view "select" class="btn dropdown-toggle" content=allPageSizes value=pageSize}}
    </div>
</div>
{{/if}}