<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{filter-selector model=allTypes apiFilterSelected="loadByType" showMisc="0"}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{filter-selector model=allStatus apiFilterSelected="loadByStatus"}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <div class="list-group">
            {{#each event in model}}
                {{#link-to 'activity.show' event class="list-group-item"}}
                <div class="row row-gutter-bottom">
                    <div class="col-xs-4">{{view "previewImage" width="80" height="80" class="img-responsive img-thumbnail" src=event.availableImage}}</div>
                    <div class="col-xs-6">
                        {{event.title}}
                        {{event.type}}
                    </div>
                    <div class="col-xs-2">
                        {{formatted-date event.fromDate 'LL'}}
                        {{formatted-date event.toDate 'LL'}}
                    </div>
                </div>




                {{/link-to}}
            {{/each}}
        </div>
    </div>
</div>

{{#if queryCount}}
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        Size: {{view "select" class="btn btn-default dropdown-toggle" content=allPageSizes value=pageSize}}
        <nav>
            <ul class="pagination">
                <li class={{disabled}}>
                    <a class="btn" {{action "loadPrevPage"}} aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{#each page in pages}}
                    <li><a class="btn" {{action "loadPage" page}}>{{page}}</a></li>
                {{/each}}
                <li class={{disabled}}>
                    <a class="btn" {{action "loadNextPage"}} aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{/if}}