<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{filter-selector model=allTypes apiFilterSelected="loadByType" showMisc="0"}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{filter-selector model=allStatus apiFilterSelected="loadByStatus"}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            {{#each event in model}}
                {{#link-to 'activity.show' event class="list-group-item"}}
                    <div class="row">
                        <div class="col-xs-4 col-md-2">
                            {{view "previewImage" width="100" height="100" class="img-responsive img-thumbnail" src=event.availableImage}}
                        </div>
                        <div class="col-xs-8 col-md-4">
                            <h4 class="list-group-item-heading">{{event.title}}</h4>
                            <p class="list-group-item-text">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                {{#if event.address}}
                                    {{event.address}}, 
                                {{/if}}
                                {{event.cityState}}
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <p class="list-group-item-text">
                            {{formatted-date event.fromDateMoment 'LL'}}

                            {{#if event.toDateMoment}}
                                - {{formatted-date event.toDateMoment 'LL'}}
                            {{/if}}
                            </p>
                            <p class="list-group-item-text">
                            {{#if event.fromTime}}
                                {{event.fromTime}}

                                {{#if event.toTime}}
                                 to {{event.toTime}}
                                {{/if}}
                            {{/if}}
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <p class="list-group-item-text">{{display-text event.type allTypes}}</p>
                        </div>
                    </div>
                {{/link-to}}
            {{/each}}
        </div>
    </div>
</div>

{{#if queryCount}}
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        Size: {{view "select" class="btn btn-default dropdown-toggle" content=allPageSizes value=pageSize}}
        <nav>
            <ul class="pagination">
                <li class={{disabled}}>
                    <a class="btn" {{action "loadPrevPage"}} aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{#each page in pages}}
                    <li><a class="btn" {{action "loadPage" page}}>{{page}}</a></li>
                {{/each}}
                <li class={{disabled}}>
                    <a class="btn" {{action "loadNextPage"}} aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{/if}}