

<div class="row row-xs-height">
    <div class="col-xs-12">
        
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
    	<h2>My Activities {{#link-to 'activity.new' class="btn btn-primary"}}Add New Activity{{/link-to}} </h2>
    	
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        {{filter-selector model=allStatus apiFilterSelected="loadByStatus"}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        {{filter-selector model=allTypes apiFilterSelected="loadByType" showMisc="1"}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <th></th>
                <th>Title</th>
                <th>Type</th>
                <th>From</th>
                <th>To</th>
                <th>Location</th>
            </thead>
            <tbody>
                {{#each activity in model}}
                <tr>
                    <th>{{view "previewImage" width="80" height="80" class="img-responsive img-thumbnail" src=activity.availableImage}}</th>
                    <td>{{activity.title}}</td>
                    <td>{{display-text activity.type allTypes}}</td>
                    <td>{{formatted-date activity.fromTime 'LL'}}</td>
                    <td>{{formatted-date activity.toTime 'LL'}}</td>
                    <td>{{activity.cityState}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            {{#link-to 'activity.show' activity class="btn btn-default"}}Detail{{/link-to}}
                            <button type="button" class="btn btn-default" {{action 'openDeleteDialog' activity.id target="view" bubbles="false" }}>Delete</button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div id="dialog-confirm-delete" title="Delete an activity?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This activity will be deleted. Are you sure?</p>
</div>


