<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-6">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>{{#link-to 'activity.browse' class="btn-link"}}Events{{/link-to}}</li>
            <li><button class="btn-link" {{action "goBack"}}>My Events</button></li>
            <li class="active">Add New</li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-6">
        {{#if showEdit}}
            {{#link-to 'activity.edit' model.activity class="btn btn-default"}}Edit{{/link-to}}
        {{/if}}
    </div>
</div>
<button class='btn btn-default' {{action "goBack" }}>
    {{fa-icon "arrow-left"}}
</button>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-10">
        <h1>Add New Activity</h1>
    </div>
</div>
<div {{bind-attr class=":row :row-gutter-bottom showAlert::collapse" }}>
    <div class="col-xs-12">
        {{alert-bar title=alertTitle message=alertMessage type=alertType closeAlert="closeAlert" }}
    </div>
</div>
{{partial "activity/form"}}
