<h2>Search for local events</h2>
<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-2 col-md-1">
        <label>Search</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="e.g Dancing Babies, Cherry Picking" value=queryText}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Within</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" value=distance content=allDistances placeholder="Distance"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Time</label>
    </div>
    <div class="col-xs-4 col-md-3">
        {{view "select" class="btn btn-default dropdown-toggle" value=period content=allPeriods optionValuePath="content.value" optionLabelPath="content.text" action=periodChange}}
        {{#if showFromToControls}}
        <br />
        From:
        {{bs-datetimepicker date=fromTime format='YYYY-MM-DD'}}
        To:
        {{bs-datetimepicker date=toTime format='YYYY-MM-DD'}}
        {{/if}}
    </div>
    <div class="col-xs-3 col-md-2">
        <button class="btn btn-link" {{action "toggleAdvancedSearch" }}>Advanced Search</button>
    </div>
</div>
{{#if showAdvancedSearch}}
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Group</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" value=group placeholder="toy"}}
    </div>
</div>
{{/if}}
<div class="row row-gutter-bottom">
    <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-1">
        <button type="button" class="btn btn-cys" {{action "search" }} {{bind-attr disabled=disabled}}>Search</button>
    </div>
</div>

{{#if showData}}
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{#if hasData }}
        <table class="table">
            <thead>
            <th></th>
            <th>Title</th>
            <th>Type</th>
            <th>From</th>
            <th>To</th>
            <th>Location</th>
            </thead>
            <tbody>
                {{#each event in model}}
                <tr>
                    <th>{{view "previewImage" width="80" height="80" class="img-responsive img-thumbnail" src=event.availableImage}}</th>
                    <td>{{event.title}}</td>
                    <td>{{display-text event.type allTypes}}</td>
                    <td>{{formatted-date event.fromDate 'LL'}}</td>
                    <td>{{formatted-date event.toDate 'LL'}}</td>
                    <td>{{event.cityState}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            {{#link-to 'activity.show' event class="btn btn-default"}}Detail{{/link-to}}
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        There is no activiy found.
        {{/if}}
    </div>
</div>
{{/if}}

