<div class="row row-gutter-top">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li><button class="btn-link" {{action "goBack"}}>Events</button></li>
            <li class="active">Search</li>
        </ol>
    </div>
</div>
<h1>Search for local events</h1>
<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-2 col-md-1">
        <label>Search</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{input class="form-control" placeholder="e.g Dancing Babies, Cherry Picking" value=queryText}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Within</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{view "select" class="btn btn-default dropdown-toggle" value=distance content=allDistances placeholder="Distance"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Time</label>
    </div>
    <div class="col-xs-4 col-md-3">
        {{view "select" class="btn btn-default dropdown-toggle" value=period content=allPeriods optionValuePath="content.value" optionLabelPath="content.text" action=periodChange}}
        {{#if showFromToControls}}
        <br />
        From:
        {{bs-datetimepicker date=fromTime format='YYYY-MM-DD'}}
        To:
        {{bs-datetimepicker date=toTime format='YYYY-MM-DD'}}
        {{/if}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-offset-2 col-md-offset-1">
        <button class="btn btn-link" {{action "toggleAdvancedSearch" }}>
            {{#if showAdvancedSearch }} Hide {{else}} Show {{/if}}
            More Search Options
        </button>
    </div>
</div>

{{#if showAdvancedSearch}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-2 col-md-1">
            <label>Group</label>
        </div>
        <div class="col-xs-10 col-md-6">
            {{view "select" class="btn btn-default dropdown-toggle" value=group placeholder="toy"}}
        </div>
    </div>
{{/if}}
<div class="row row-gutter-bottom">
    <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-1">
        <button type="button" class="btn btn-cys" {{action "search" }} {{bind-attr disabled=disabled}}>Search</button>
    </div>
</div>

{{#if showData}}
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{#if hasData }}
        <table class="table">
            <thead>
            <th></th>
            <th>Title</th>
            <th>Type</th>
            <th>From</th>
            <th>To</th>
            <th>Location</th>
            </thead>
            <tbody>
                {{#each model as |event|}}
                <tr>
                    <th>
                        {{#link-to 'activity.show' event.id}}
                            {{preview-image width="80" height="80" class="img-responsive img-thumbnail" src=event.availableImage}}
                        {{/link-to}}
                    </th>
                    <td>
                        {{#link-to 'activity.show' event.id}}
                            {{event.title}}
                        {{/link-to}}
                    </td>
                    <td>{{display-text event.type allTypes}}</td>
                    <td>{{formatted-date event.fromDate 'LL'}}</td>
                    <td>{{formatted-date event.toDate 'LL'}}</td>
                    <td>{{event.cityState}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            {{#link-to 'activity.show' event.id class="btn btn-default"}}Detail{{/link-to}}
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        There is no activiy found.
        {{/if}}
    </div>
</div>
{{/if}}

