<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-6">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li><button class="btn-link" {{action "goBack"}}>Events</button></li>
            <li class="active">Detail</li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-6">
        {{#if showEdit}}
            {{#link-to 'activity.edit' model.activity class="btn btn-default"}}Edit{{/link-to}}
        {{/if}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h1>{{model.activity.title}}</h1>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-4">
            <img width="300" height="300" class="img-responsive img-rounded" src={{model.activity.availableImage}}>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="row">
            <div class="col-xs-6">
                <div class="control-group">
                    <div class="btn-group" data-toggle="buttons-radio">

                        {{#radio-button selectedValue=model.emactions.firstObject.action value="1" group="action" action="setAction" }}
                            <span style="font-size:18px">Attending</span>
                        {{/radio-button}}

                        {{#radio-button selectedValue=model.emactions.firstObject.action value="2" group="action" action="setAction"}}
                            <span style="font-size:18px">Maybe</span>
                        {{/radio-button}}

                        {{#radio-button selectedValue=model.emactions.firstObject.action value="3" group="action" action="setAction"}}
                            <span style="font-size:18px">Not attending</span>
                        {{/radio-button}}

                    </div>
                </div>

                {{#if showNotifyFriends}}

                    <ul class="list-group">
                        {{#each model.groups as |group| }}
                            <li class="list-group-item">
                                {{input type="checkbox"}}
                                &nbsp;&nbsp;
                                <span class="badge">{{group.members.length}}</span>
                                {{group.title}}
                            </li>
                        {{/each}}
                        <li class="list-group-item">
                            <button class="btn btn-cys" type="button" {{action "notify" }} disabled={{disabled}}>Notify my friends</button>
                        </li>
                    </ul>

                {{/if}}
            </div>
        </div>
    </div>
</div>


{{#if model.activity.toDate}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-12">
            <h4>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{formatted-date model.activity.fromDateMoment 'dddd'}},
                {{formatted-date model.activity.fromDate 'LL'}}
                {{#if model.activity.toDate}}
                    to
                    {{formatted-date model.activity.toDateMoment 'dddd'}},
                    {{formatted-date model.activity.toDate 'LL'}}
                {{/if}}
            </h4>
            <p>
                {{#if model.activity.fromTime}}
                    <small>
                        {{model.activity.fromTime}}
                    </small>
                {{/if}}
                {{#if model.activity.toTime}}
                    <small>
                        to {{model.activity.toTime}}
                    </small>
                {{/if}}

            </p>
        </div>
    </div>
{{/if}}

{{#if model.activity.address}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-12">
            <h4>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                {{model.activity.address}}, {{model.activity.city}}, {{model.activity.state}} {{model.activity.zipCode}}
            </h4>
        </div>
    </div>
{{/if}}

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-7">
        <hr>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Description:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{{model.activity.description}}}
    </div>
</div>

{{#if model.activity.url }}
<div class="row row-gutter-bottom">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Web URL:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-10">
        <a href={{model.activity.url}} target="_blank">{{model.activity.url}}</a>
    </div>
</div>
{{/if}}
{{#if model.activity.type }}
<div class="row row-gutter-bottom">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Type:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{display-text model.activity.type allTypes}}
    </div>
</div>
{{/if}}
{{#if model.activity.fromAge }}
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Age:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{model.activity.fromAge}}
        To {{model.activity.toAge}}
    </div>
</div>
{{/if}}
{{#if model.activity.price }}
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Price:</label>
    </div>
    <div class="col-xs-4 col-md-3">
        <div class="input-group">
            ${{model.activity.price}}
        </div>
    </div>
</div>
{{/if}}


<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-7">
        <hr>
    </div>
</div>
