<div class="row row-xs-height">
    <div class="col-xs-6 col-sm-4 col-md-2">
        <button type="button" class="btn btn-link btn-sm" {{action "goBack" }}>Back</button>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        {{#if showEdit}}
            {{#link-to 'activity.edit' id}}Edit{{/link-to}}
        {{/if}}
    </div>
    <div class="col-xs-4">
        <div class="fb-share-button" {{bind-attr data-href="tipUrl" }} data-layout="button_count"></div>
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12 col-sm-6 col-md-4">
        {{#if imageUrl }}
        <img {{bind-attr src=imageUrl}} class="img" alt="image" class="img-responsive img-rounded" />
        {{else}}
        {{view "previewImage" width="300" height="300" class="img-responsive img-rounded" src=availableImage}}
        {{/if}}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="row row-xs-height">
            <div class="col-xs-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="row row-xs-height">
            <div class="col-xs-12">
                From:
                {{formatted-date fromTime 'LL'}}
                To:
                {{formatted-date toTime 'LL'}}
            </div>
        </div>        
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Web URL:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        <a {{bind-attr href=url}} target="_blank">{{url}}</a>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Description:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{description}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Age:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        From {{fromAge}}
        To {{toAge}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2 col-md-1">
        <label>Price:</label>
    </div>
    <div class="col-xs-4 col-md-3">
        <div class="input-group">
            {{price}}
        </div>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Address:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{address}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>City:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{city}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>State:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{state}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Zip Code:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{zipCode}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Type:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{display-text type allTypes}}
    </div>
</div>
{{#if session.isAuthenticated}}
<div class="row row-xs-height">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Action:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{#radio-button value="1" groupValue=emaction.action name="action" changed="setAction"}}
            We'll attend this event.
        {{/radio-button}}
        {{#radio-button value="2" groupValue=emaction.action name="action" changed="setAction"}}
            We are thinking about it.
        {{/radio-button}}
        {{#radio-button value="3" groupValue=emaction.action name="action" changed="setAction"}}
            We are not going.
        {{/radio-button}}
    </div>
</div>
{{/if}}
