<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-6">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li><button class="btn-link" {{action "goBack"}}>Events</button></li>
            <li class="active">Detail</li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-6">
        {{#if showEdit}}
            {{#link-to 'activity.edit' model class="btn btn-default"}}Edit{{/link-to}}
        {{/if}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h1>{{model.title}}</h1>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
            <img width="300" height="300" class="img-responsive img-rounded" src={{model.availableImage}}>
    </div>
</div>



<div class="row row-gutter-bottom">
    <div class="col-xs-12">

        <h4>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            {{formatted-date model.fromDateMoment 'dddd'}},
            {{formatted-date model.fromDate 'LL'}}
            {{#if model.toDate}}
                to
                {{formatted-date model.toDateMoment 'dddd'}},
                {{formatted-date model.toDate 'LL'}}
            {{/if}}
        </h4>
        <p>
            {{#if model.fromTime}}
                <small>
                    {{model.fromTime}}
                </small>
            {{/if}}
            {{#if model.toTime}}
                <small>
                    to {{model.toTime}}
                </small>
            {{/if}}

        </p>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h4>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            {{model.address}}, {{model.city}}, {{model.state}} {{model.zipCode}}
        </h4>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-7">
        <hr>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Description:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{model.description}}
    </div>
</div>

{{#if model.url }}
<div class="row row-gutter-bottom">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Web URL:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-10">
        <a href={{model.url}} target="_blank">{{model.url}}</a>
    </div>
</div>
{{/if}}
{{#if model.type }}
<div class="row row-gutter-bottom">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Type:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{display-text model.type allTypes}}
    </div>
</div>
{{/if}}
{{#if model.fromAge }}
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Age:</label>
    </div>
    <div class="col-xs-10 col-md-6">
        {{model.fromAge}}
        To {{model.toAge}}
    </div>
</div>
{{/if}}
{{#if model.price }}
<div class="row row-gutter-bottom">
    <div class="col-xs-2 col-md-1">
        <label>Price:</label>
    </div>
    <div class="col-xs-4 col-md-3">
        <div class="input-group">
            ${{model.price}}
        </div>
    </div>
</div>
{{/if}}

{{#if session.isAuthenticated}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-12 col-md-7">
            <hr>
        </div>
    </div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
      {{#radio-button value="1" groupValue=emaction.action name="action" changed="setAction"}}
          &nbsp;&nbsp;<span style="font-size:18px">Attending</span>
      {{/radio-button}}
    </div>
    <div class="col-xs-12 col-md-2">
      {{#radio-button value="2" groupValue=emaction.action name="action" changed="setAction"}}
          &nbsp;&nbsp;<span style="font-size:18px">Maybe</span>
      {{/radio-button}}
    </div>
    <div class="col-xs-12 col-md-2">
      {{#radio-button value="3" groupValue=emaction.action name="action" changed="setAction"}}
          &nbsp;&nbsp;<span style="font-size:18px">Not attending</span>
      {{/radio-button}}
    </div>
</div>
{{/if}}
