<div class="row row-gutter-top">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li><button class="btn-link" {{action "goBack"}}>Events</button></li>
            <li class="active">Detail</li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-6">
        {{#if showEdit}}
            {{#link-to 'activity.edit' model.activity class="btn btn-default"}}Edit{{/link-to}}
        {{/if}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h1>{{model.activity.title}} {{facebook-share data-href=currentUrl data-layout="button"}}
        </h1>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-3">
        <img width="300" height="300" class="img-responsive img-rounded" src={{model.activity.availableImage}}>
    </div>
    <div class="col-xs-12 col-md-9">
        {{#if model.activity.fromDate}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-12">
                    <h4>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        {{formatted-date model.activity.fromDateMoment 'dddd'}},
                        {{formatted-date model.activity.fromDate 'LL'}}
                        {{#if model.activity.toDate}}
                            to
                            {{formatted-date model.activity.toDateMoment 'dddd'}},
                            {{formatted-date model.activity.toDate 'LL'}}
                        {{/if}}
                    </h4>
                    <p>
                        {{#if model.activity.fromTime}}
                            <small>
                                {{model.activity.fromTime}}
                            </small>
                        {{/if}}
                        {{#if model.activity.toTime}}
                            <small>
                                to {{model.activity.toTime}}
                            </small>
                        {{/if}}

                    </p>
                </div>
            </div>
        {{/if}}

        {{#if model.activity.address}}
            <div class="row row-gutter-bottom">
                <div class="col-xs-12">
                    <h4>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        {{model.activity.address}}, {{model.activity.city}}, {{model.activity.state}} {{model.activity.zipCode}}
                    </h4>
                </div>
            </div>
        {{/if}}

        {{#if model.activity.type }}
            <div class="row row-gutter-bottom">
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <label>Type:</label>
                </div>
                <div class="col-xs-9 col-sm-10 col-md-6">
                    {{display-text model.activity.type allTypes}}
                </div>
            </div>
        {{/if}}

        {{#if model.activity.fromAge }}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Age:</label>
                </div>
                <div class="col-xs-10 col-md-6">
                    {{model.activity.fromAge}}
                    To {{model.activity.toAge}}
                </div>
            </div>
        {{/if}}
        {{#if model.activity.price }}
            <div class="row row-gutter-bottom">
                <div class="col-xs-2 col-md-1">
                    <label>Price:</label>
                </div>
                <div class="col-xs-4 col-md-3">
                    <div class="input-group">
                        ${{model.activity.price}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <hr>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-3 col-sm-2 col-md-1">
        <label>Description:</label>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-6">
        {{{model.activity.description}}}
    </div>
</div>

{{#if model.activity.url }}
    <div class="row row-gutter-bottom">
        <div class="col-xs-3 col-sm-2 col-md-1">
            <label>Web URL:</label>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-10">
            <a href={{model.activity.url}} target="_blank">{{model.activity.url}}</a>
        </div>
    </div>
{{/if}}


<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <hr>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-6">
        <div class="row row-gutter-bottom">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Do you plan to attend this event?</h3>
                    </div>
                    <div class="panel-body">
                        <div class="control-group">
                            <div class="btn-group" data-toggle="buttons-radio">

                                {{#radio-button selectedValue=model.emactions.firstObject.action value="1" group="action" action="setAction" }}
                                    <span style="font-size:18px">Attending</span>
                                {{/radio-button}}

                                {{#radio-button selectedValue=model.emactions.firstObject.action value="4" group="action" action="setAction" }}
                                    <span style="font-size:18px">Attending if a friend is going</span>
                                {{/radio-button}}

                                {{#radio-button selectedValue=model.emactions.firstObject.action value="2" group="action" action="setAction"}}
                                    <span style="font-size:18px">Maybe</span>
                                {{/radio-button}}

                                {{#radio-button selectedValue=model.emactions.firstObject.action value="3" group="action" action="setAction"}}
                                    <span style="font-size:18px">Not attending</span>
                                {{/radio-button}}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row row-gutter-bottom">
            <div class="col-xs-12">
                {{#if showNotifyFriends}}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Notify your friends who might find this event helpful</h3>
                        </div>
                        <div class="panel-body">
                            <div class="control-group">
                                <div class="btn-group" data-toggle="buttons-radio">

                                    {{#radio-button selectedValue="1" value="1" group="notification" action="setNotifitication" }}
                                        <span style="font-size:18px">via Email</span>
                                    {{/radio-button}}

                                    {{#radio-button value="2" group="notification" action="setNotifitication" }}
                                        <span style="font-size:18px">via Facebook</span>
                                    {{/radio-button}}

                                </div>
                            </div>
                        </div>
                        {{#if isSendEmail }}
                            <ul class="list-group">
                                {{#if model.groups.length }}
                                    <li class="list-group-item">
                                        {{input type="checkbox" checked=model.allGroupChecked}}
                                        &nbsp;&nbsp;
                                        All groups
                                    </li>
                                {{/if}}
                                {{#each model.groups as |group| }}
                                    <li class="list-group-item">
                                        {{input type="checkbox" checked=group.isChecked }}
                                        &nbsp;&nbsp;
                                        <span class="badge">{{group.members.length}}</span>
                                        {{group.title}}
                                    </li>
                                {{/each}}
                                <li class="list-group-item">
                                    {{#if model.groups.length}}
                                        <div>You can also type emails directly</div>
                                    {{else}}
                                        <div>You don't have any {{#link-to 'group.my'}}group{{/link-to}} created yet.  Please enter your friends email below</div>
                                    {{/if}}


                                    {{input class="edit_box" value=email placeholder="Friend's email addresses, comma separated" size="60"}}
                                </li>
                                <li class="list-group-item">
                                    <button class="btn btn-cys" type="button" {{action "notifyMyFriends" }} disabled={{disabled}}>Send Email</button>
                                </li>
                            </ul>
                        {{else}}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-cys" {{action "postToFacebook" }} {{bind-attr disabled=disabled}}>Post To My Facebook</button>
                                </li>
                            </ul>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
