<div class="row row-gutter-top">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li>{{#link-to 'index' class="btn-link"}}Home{{/link-to}}</li>
            <li><button class="btn-link" {{action "goBack"}}>Events</button></li>
            <li class="active">Submit Events</li>
        </ol>
    </div>
</div>

<button class='btn btn-default' {{action "goBack" }}>
    {{fa-icon "arrow-left"}}
</button>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h2>Submit New Event <small>and we'll fill in the details for you.</small></h2>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-8">
        <p>
            <span class="bold">
                <span class="required">*</span>A brief description or just a web url link is good enough.
            </span>
            <br />
        </p>
        {{summer-note id="lblQDescription" height=200 btnSize=bs-sm content=model.description focus=true}}
        <p>
            If you would like us to import your events, please contact us at info@siwimi.com.
        </p>
    </div>
</div>


<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <button class="btn btn-cys" type="button" {{action "submit" }} disabled={{disabled}}>Submit</button>
        <button type="button" class="btn btn-link" {{action "goBack" }}>Cancel</button>
    </div>
</div>
