<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <h2>
            Activities from Ann Arbor, MI
        </h2>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">

        {{postbox-combo action='hidePostBoxFake' isHidingPostBoxFake=isHidingPostBoxFake}}

    </div>
</div>

{{#each feeds as |feed|}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-12">
            <hr style="border-width:4px" />
        </div>
    </div>
    <div class="row row-gutter-bottom">
        <div class="col-xs-1">
            {{#if feed.creator }}
                {{#link-to 'member.show' feed.creator}}
                    <img class="avatar" src={{feed.creator.availableImage}}>
                {{/link-to}}
            {{ else }}
                No Author
            {{/if}}
        </div>
        <div class="col-xs-11">
            <div class="row row-gutter-bottom">
                <div class="col-xs-12">
                    <h3><strong>{{feed.title}}</strong></h3>
                    <span>
                        {{#if feed.creator }}
                            {{#link-to 'member.show' feed.creator}}
                                {{feed.creator.firstName}}
                                {{feed.creator.lastName}}
                            {{/link-to}}
                            from
                            {{feed.creator.city}} {{feed.creator.state}}
                        {{else}}
                            No Author
                        {{/if}}
                    </span>
                </div>
            </div>
            <div class="row row-gutter-bottom">
                <div class="col-xs-12">
                    <p class="lead">{{feed.description}}</p>
                </div>
            </div>
            {{#if feed.replies}}
                <div class="row row-gutter-bottom">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        {{#each reply in feed.replies}}

                            <div class="feed-comment">
                                <div>
                                    <div class="feed-comment__head">
                                        {{#link-to 'member.show' reply.creator}}
                                            <img class="avatar" src={{reply.creator.availableImage}}>
                                        {{/link-to}}
                                    </div>
                                    <div class="feed-comment__body">
                                        {{reply.description}}
                                    </div>
                                </div>

                            </div>

                        {{/each}}
                        <div class="feed-comment">
                            <textarea rows="1" cols="1" class="input-block-level" placeholder="Write a reply…"></textarea>
                        </div>
                    </div>
                </div>
            {{/if}}
            <!--
            <div class="row row-gutter-bottom">
                <div class="col-xs-12">
                    {{input placeholder='Your reply...' class='form-control' value=replyText size="80"}}
                    <button class="btn btn-cys" {{action 'reply' feed.id}}>Reply</button>
                </div>
            </div>
            -->
        </div>
    </div>
{{/each}}



