<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-6">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>
                <button class="btn-link" {{action "goBack"}}>Groups</button>
            </li>
        </ol>
    </div>
</div>

{{#if model}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Member Count</th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each group in model }}
                    <tr>
                        <td>{{group.title}}</td>
                        <td>{{group.members.length}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                {{#link-to 'group.show' group class="btn btn-cys"}}Detail{{/link-to}}
                                <button type="button" class="btn btn-cys" {{action 'openDeleteDialog' group.id target="view" bubbles="false" }}>Delete</button>
                            </div>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
{{else}}
<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <p class="lead">
            It appears that you don't have a group yet.
        </p>
        <p>
            Creating a group allows you to share your posts, i.e. your private events such as birthday or an outing to a local zoo, only to this group.
        </p>
        <p>
            Let's say you have two children - Aiden is 5 and Lily is 1.  You could create two groups that include Aiden's circle of friends' families into Aiden's group, and Lily's circle of friends' families into Lily's group.
        </p>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{#link-to 'group.new' class="btn btn-cys"}}Add New Group{{/link-to}}
    </div>
</div>
{{/if}}

<div id="dialog-confirm-delete" title="Delete an activity?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This group will be deleted. Are you sure?</p>
</div>
