<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-6">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>
                <button class="btn-link" {{action "goBack"}}>Groups</button>
            </li>
            <li class="active">Detail</li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-6">
        {{#if showEdit}}
            {{#link-to 'group.edit' model.id class="btn btn-default"}}Edit{{/link-to}}
        {{/if}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h2>Group Name: {{model.title}}</h2>
    </div>
</div>

{{#if model.description }}
    <div class="row row-gutter-bottom">
        <div class="col-xs-4">
            Description:
        </div>
        <div class="col-xs-8">
            {{model.description}}
        </div>
    </div>
{{/if}}

<div class="row row-gutter-bottom">
    <div class="col-xs-4">
        <div class="list-group circle-manage-sidebar">
            <a {{action 'showList'}} class="list-group-item">
                <h4 class="list-group-item-heading">Manage Group Members</h4>

                <p class="list-group-item-text">Exclude existing members.</p>
            </a>
            <a {{action 'showAddNew'}} class="list-group-item">
                <h4 class="list-group-item-heading">Add New Group Members</h4>

                <p class="list-group-item-text">Invite new friends to join your group</p>
            </a>
        </div>
    </div>
    <div class="col-xs-8">
        {{#if showList}}
            {{group-list delete="deleteMember" list=model.members}}
        {{/if}}
        
        {{#if showAddNew}}
            {{group-addnew action="inviteFriend" add="addFriends" searchFriends="searchFriends" group=model }}
        {{/if}}
    </div>
</div>


