<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h1>Secure Sign Up</h1>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        {{! login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
        <form {{action 'authenticate' on='submit' }}>
            <div class="form-group">
                <label for="email"><span class="required">*</span>Email</label>
                {{input id="email" type="email" placeholder='Enter Email' class='form-control' value=model.email size="80" required="true"}}
            </div>
            <div class="form-group">
                <label for="lastName"><span class="required">*</span>Last Name</label>
                {{input id='lastName' placeholder='Enter Last Name' class='form-control' value=model.lastName size="80" required="true"}}
            </div>
            <div class="form-group">
                <label for="firstName"><span class="required">*</span>First Name</label>
                {{input id='firstName' placeholder='Enter First Name' class='form-control' value=model.firstName size="80" required="true"}}
            </div>
            <div class="form-group">
                <label for="password"><span class="required">*</span>Password</label>
                {{input id="password" type="password" placeholder='Enter Password' class='form-control' value=model.password size="80"}}
            </div>
            <div class="form-group">
                <label for="password2"><span class="required">*</span>Confirm Password</label>
                {{input id='password2' type="password" placeholder='Enter Password' class='form-control' value=password2 size="80"}}
            </div>
            <button {{action "signUp" }} class="btn btn-cys" {{bind-attr disabled=disabled}}>Sign Up</button>
            &nbsp;&nbsp;&nbsp;{{#link-to 'login' }}Back to Login page{{/link-to}}

        </form>
    </div>
</div>




