<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Siwimi Parents</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        Connect<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>{{#link-to 'family.browse'}}Search My Neighborhood{{/link-to}}</li>
                        <li>{{#link-to 'family.my'}}My Family Setting{{/link-to}}</li>
                        <li>{{#link-to 'group.my'}}My Groups{{/link-to}}</li>
                        <li>{{#link-to 'family.preference'}}My Preference{{/link-to}}</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        Tips<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>{{#link-to 'tip.browse' (query-params status="all" type="all")}}Browse{{/link-to}}</li>
                        <li>{{#link-to 'tip.search'}}Search{{/link-to}}</li>
                        <li>{{#link-to 'tip.my'}}My Tips{{/link-to}}</li>
                        <li>{{#link-to 'tip.preference'}}My Preference{{/link-to}}</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        Event<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>{{#link-to 'activity.browse'}}Browse{{/link-to}}</li>
                        <li>{{#link-to 'activity.search'}}Search{{/link-to}}</li>
                        <li>{{#link-to 'activity.my'}}My Events Posts{{/link-to}}</li>
                        <li>{{#link-to 'activity.calendar'}}My Calendar{{/link-to}}</li>
                        <li>{{#link-to 'activity.preference'}}My Preference{{/link-to}}</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                        Listing<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>{{#link-to 'item.browse'}}Browse{{/link-to}}</li>
                        <li>{{#link-to 'item.search'}}Search{{/link-to}}</li>
                        <li>{{#link-to 'item.my'}}My Listings{{/link-to}}</li>
                        <li>{{#link-to 'item.preference'}}My Preference{{/link-to}}</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        Ask<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>{{#link-to 'questions.new'}}Ask{{/link-to}}</li>
                        <li>{{#link-to 'questions.browse'}}Browse{{/link-to}}</li>
                        <li>{{#link-to 'questions.my'}}My Questions{{/link-to}}</li>
                        <li>{{#link-to 'questions.preference'}}My Preference{{/link-to}}</li>
                    </ul>
                </li>
                {{#if session.isAuthenticated}}
                <li>
                    {{#link-to 'feedback.new'}}
                    	<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    	Feedback
                    {{/link-to}}
                </li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            	<li>
                    <label class="nav-custom">
                        
                        {{input class="form-control" value=baseLocation size="15" readonly="true"}}
                        {{!--
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        {{#ic-autocomplete
                        id="movies"
                        value=baseLocation
                        on-input="getLocation"
                        on-select="selectLocation"}}

                        {{#each locations}}
                        <!-- finally create autocomplete-options with a value and label -->
                        {{#ic-autocomplete-option value=cityState label=cityState class="image-block"}}
                        <div class="image-block-content">
                            {{cityState}}
                        </div>
                        {{/ic-autocomplete-option}}
                        {{else}}
                        <div style="padding: 2px 16px;">No results found</div>
                        {{/each}}
                        {{/ic-autocomplete}}
                        --}}
                    </label>
            	</li>
                {{#if session.isAuthenticated}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	
                        {{session.user.firstName}}&nbsp;&nbsp;
                        <img {{bind-attr src=session.profilePicture}} height="32" width="32" style="margin-bottom:-15px; margin-top:-15px" alt="avatar" />
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                        	{{#link-to 'user.account'}}
                        		<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        		Account
                        	{{/link-to}}</li>
                        <li>
                        	{{#link-to 'user.profile'}}
                        		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        		Profile
                        	{{/link-to}}
                        </li>
                        <li>	
                        	{{#link-to 'inbox.browse'}}
                        		<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        		Inbox
                        	{{/link-to}}</li>
                        <li>
                        	<a href="#" {{ action 'openUserModal' 'user.rewards' }}>
                        		<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                        		Rewards
                        	</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                        	<a style="cursor:pointer" {{ action 'invalidateSession' }}>
                        		<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        		Logout
                        	</a>
                        </li>
                    </ul>
                </li>
                {{else}}
                <li>
                    {{#link-to 'login'}}
                    	<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    	Login
                    {{/link-to}}
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div {{bind-attr class=":row :row-xs-height showAlert::collapse" }}>
        <div class="col-xs-12">
            {{alert-bar title=alertTitle message=alertMessage type=alertType closeAlert="closeAlert" }}
        </div>
    </div>
    {{outlet}}
</div>
<footer class="blog-footer">
    <div class="container">
        <p>Siwimi Parents Network by <a href="http://www.adarp.com" target="_blank">Siwimi</a> LLC</p>
        <p>
            {{#link-to 'index'}}Back to top{{/link-to}}
        </p>
    </div>
</footer>