<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Xiwami Parents</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li>
                    <a href="cover.html">Cover Page</a>
                </li>
                <li>
                    {{#link-to 'tip'}}Tips{{/link-to}}
                </li>
                <li>
                    {{#link-to 'activity'}}Activities{{/link-to}}
                </li>
                <li>
                    {{#link-to 'question'}}Q & A{{/link-to}}
                </li>
                <li>
                    {{#link-to 'connect'}}Connect{{/link-to}}
                </li>
                <li>
                    {{#link-to 'items'}}Items{{/link-to}}
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if session.isAuthenticated}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        My Account&nbsp;&nbsp;
                        <img {{bind-attr src=session.profilePicture}} height="32" width="32" alt="avatar" /><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>{{#link-to 'user.account'}}Account{{/link-to}}</li>
                        <li>{{#link-to 'user.profile'}}Profile{{/link-to}}</li>
                        <li>{{#link-to 'inbox'}}Inbox{{/link-to}}</li>
                        <li><a href="#" {{ action 'openUserModal' 'user.rewards' }}>Rewards</a></li>
                        <li class="divider"></li>
                        <li><a style="cursor:pointer" {{ action 'invalidateSession' }}>Logout</a></li>
                    </ul>
                </li>
                {{else}}
                <li>
                    {{#link-to 'login'}}Login{{/link-to}}
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {{#each menuitem in content}}
                <li>
                    {{#link-to menuitem.linkName class="btn btn-default navbar-btn"}}{{menuitem.displayName}}{{/link-to}}
                    {{#if menuitem.subMenuItems}}
                    <ul>
                        {{#each sub in menuitem.subMenuitems}}
                        <li>{{#link-to sub.linkName activeClass="selected"}}{{sub.displayName}}{{/link-to}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
                {{/each}}
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <br /><br />
            {{outlet}}
            {{outlet "modal"}}
        </div>
    </div>
</div>

<h2>Footer</h2>
