<div class="row row-xs-height">
    <div class="col-xs-12">
        <h1>Secure Sign Up</h1>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        {{! login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
        <form {{action 'authenticate' on='submit' }}>
            <div class="form-group">
                <label for="email">Email</label>
                {{input id='email' placeholder='Enter Email' class='form-control' value=email size="80"}}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{input id='password' placeholder='Enter Password' class='form-control' type='password' value=password size="80"}}
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                {{input id='password2' placeholder='Enter Password' class='form-control' type='password' value=password2 size="80"}}
            </div>
            <button {{action "signup" }} class="btn btn-primary" {{bind-attr disabled=disabled}}>Sign Up</button>
            &nbsp;&nbsp;&nbsp;{{#link-to 'login' }}Back to Login page{{/link-to}}

        </form>
    </div>
</div>




